<div class="activity-types">
    <ul>
        <li ng-repeat="stat in mapping">
            <div ng-if="::(stat.icon.length !== 0 && stat.percent > percentCutOff) || debug">
                <tn-activity-type activity-type="::stat.activityType" icon-styles="stat.color"></tn-activity-type>
                <span ng-show="::debug" class="debug">{{::(stat.percent*100).toFixed(0)}}%</span>
            </div>
        </li>
    </ul>
</div>