<div>
    <ul class="toggle-group">
        <li ng-repeat="at in activityType.current" class="toggle" ng-class="activityTypeClass(at)" ng-click="setActivityTypeActive(at)" title="{{at.name}}">
        </li>
    </ul>
</div>