<a ng-href="{{context.tn.appRouteService.activity.activityUrl(completion.activityId[0].value)}}">
    <span ng-if="completion.personalOrder" translate="ROUTE_COMPLETIONS_TABLE_ATTEMPT" translate-values="{personalOrder: completion.personalOrder.display.formattedValue, personalTotal: completion.personalTotal.display.formattedValue}"></span>
    <span ng-if="completion.repeatCount">({{completion.repeatCount.display.formattedValue}})</span>
</a>