<a ng-href="{{context.tn.appRouteService.person.personAllUrl(completion.personId.value)}}" ng-if="completion.person.name">{{completion.person.name}}</a>

<span ng-if="!completion.person.name" translate="ROUTE_NAME_PRIVATE"></span>