<div id="completions-modal" class="completions" ng-show="exploreRoute.route">
<div data-title="completions.title" content="content" bs-aside data-show="true"></div>

<!-- <tn-modal id="completions-modal" class="tn-modal-lg completions" is-open="modal.visible" modal-title="completions.title" close="close()" ng-show="exploreRoute.route"> -->

    <div class="panel-default">
        <div class="panel-heading completions-filter">
            <form name="filter">
                <tn-activity-type-filter filter="routeFilterService" activity-type-keys="activityTypeKeys"></tn-activity-type-filter>
                <button ng-if="debug" class="btn" ng-class="completions.courses && 'btn-warning' ||'btn-default'" ng-click="filterByCourses()">Courses</button>
                <tags-input name="tags"
                    ng-model="completions.people.query"
                    placeholder="{{'FILTER_PERSON' | translate}}"
                    min-tags="1"
                    max-tags="10"
                    replace-spaces-with-dashes="false"
                    add-from-autocomplete-only="true"
                    on-tag-added="completions.people.onSelect($tag)"
                    on-tag-removed="completions.people.onSelect($tag)">
                    <auto-complete source="completions.people.onType($query)"></auto-complete>
                </tags-input>
            </form>
        </div>
        <!-- <div class="completions-route-summary"> -->
        <!-- <tn-route-summary route="exploreRoute.route" ng-show="completions.title"></tn-route-summary> -->
    </div>

    <div infinite-scroll="completions.service.nextPage()" infinite-scroll-disabled="completions.service.busy || completions.service.finalPage || completions.service.hasError" infinite-scroll-distance="1" infinite-scroll-container="'#completions-modal'">
        <tn-completions completions="completions.service.entities" sort-predicate="completions.sort.predicate" sort-reverse="completions.sort.reverse"></tn-completions>
    </div>
    <tn-spinner spinner-key="completionsSpinner"></tn-spinner>
<!-- </tn-modal> -->
</div>