<div>
	<ng-include src="'/views/route/completion-display-person-name-with-link.html'"> </ng-include>
	<button class="icon-filter-list btn-link page-table-action-btn" ng-click="context.addFocusOnPerson(completion.person)" ng-if="completion.person.name && !context.isFocusedOn(completion.person)" style="vertical-align: middle" title="Filter Routes"></button>
</div>
