<div class="route-filter">
	<div class="animate-filter" ng-show="expanded" layout="column" ng-mouseleave="blurFilter()"
	ng-mouseenter="focusFilter()">

		<div layout="row">
			<span translate="ROUTE_FILTER_TITLE" flex class="title"></span>
			<span class="icon-clear icon-button leaflet-nopadding hover-effects" ng-click="closeFilter()" hide-sm></span>
		</div>

		<!-- activity type -->
		<div class="filter-field">
			<h1 translate="ROUTE_FILTER_ACTIVITY_TYPE_HEADING">
			</h1>
			<tn-activity-type-filter filter="filter" activity-type-keys="activityTypeKeys"></tn-activity-type-filter>
		</div>
		<!-- end activity type -->

		<!-- distance -->
		<div class="filter-field">
			<h1 translate="ROUTE_FILTER_DISTANCE_HEADING"></h1>
			<div ng-if="hasFilter()">
				<div class="toggle-group">
					<button ng-repeat="dist in currentDistanceTypes()" ng-click="setDistanceActive(dist)" type="button" class="toggle" ng-class="isDistanceActive(dist.key) && ' active'" ng-bind="dist.name"></button>
				</div>
			</div>
			<div ng-if="!activityTypeFilter()">
				<p translate="ROUTE_FILTER_SELECT_ACTIVITY_FIRST_MESSAGE"></p>
			</div>
		</div>
		<!-- end distance -->

		<!-- person -->
		<div class="filter-field">
			<h1 translate="ROUTE_FILTER_PERSON_HEADING"></h1>
			<div>
				<tn-person-suggest selection="persons.selection" on-added="persons.personAdded(person)" on-removed="persons.personRemoved(person)"></tn-person-suggest>
			</div>
		</div>
		<!-- end person -->

		<!-- provider -->
		<div ng-if="debug" class="debug">
			<hr/>
			<p translate="ROUTE_FILTER_PROVIDER_HEADING"></p>
			<div class="btn-group">
				<span ng-repeat="(key, value) in providers" class="btn btn-default" ng-class="isProviderActive(key) && ' active'" ng-click="setProviderActive(key)">
					<tn-application-display application-key="key" icon-only="true" class="medium"></tn-application-display>
				</span>
			</div>
		</div>
		<!-- end provider -->

		<div flex></div>

		<div layout="row" layout-align="end"><a ng-click="clearFilter()">Clear</a>
		</div>
	</div>

	<!-- minimized leaflet -->
	<div class="route-filter-summary animate-filter" ng-show="!expanded" ng-click="openFilter()">
		<div class="activity-types horiz-list clickable" ng-if="!hasFilter()" layout="row" >
			<span translate="ROUTE_FILTER_COLLAPSED_TITLE"></span>
			<ul ng-if="!hasFilter()">
				<li ng-repeat="at in activityType.types">
					<span class="small activity" ng-class="isActivityTypeActive(at.key) && at.icon + ' active' || at.icon"></span>
				</li>
			</ul>
			<span flex></span>
			<span class="icon-filter-list icon-button leaflet-nopadding" title="Filter Routes"></span>
		</div>
		<div ng-if="hasFilter()" layout="row" class="clickable" ng-click="openFilter()">
			<div>

				<span class="medium activity active" ng-class="activityTypeFilter().icon"></span>

				<span ng-bind="activityTypeFilter().name"></span><span ng-if="hasDistanceFilter()" ng-bind="', '"></span>
				<span ng-if="hasDistanceFilter()" ng-bind="distanceFilter().name"></span>

				<span class="medium seperator" ng-if="hasPersonsFilter()" ng-class="persons.selected.length === 1 && 'icon-person' || 'icon-people'"></span>
				<span ng-repeat="name in personList()" class="ellipsis" ng-if="hasPersonsFilter()">{{name}}{{$last ? '' : ', '}}</span>

			</div>
			<div class="icon-filter-list icon-button leaflet-nopadding" title="Filter Routes" flex></div>
		</div>
	</div>
	<!-- end minimized leaflet -->
</div>
