<div class="panel-default">
    <tn-route-completions-filter activity-type-keys="completions.activityTypeKeys" courses="completions.courses"
    people="completions.people" activity-type="completions.activityType"></tn-route-completions-filter>
</div>

<div infinite-scroll="completions.service.nextPage()" infinite-scroll-disabled="completions.service.busy || completions.service.finalPage || completions.service.hasError" infinite-scroll-distance="1">

    <tn-route-completions 
        completions-web-api-service="completions.service"
        template-url="/views/route/route-visits-table-directive.html"
        context="this">
    </tn-route-completions>

</div>
<div ng-controller="tnRouteFilterController"></div>