<div class="panel-default filter-container">
    <h3 align="center" translate="ROUTE_LEADERBOARD_DESCRIPTION"></h3>
</div>
<div class="panel-default filter-container">
    <tn-route-completions-filter activity-type-keys="completions.activityTypeKeys" courses="completions.courses" people="completions.people" activity-type="routeFilterService.activityType()" activity-type-toggle-mode="true" route-id="route.routeId" display-events="true" route-event-id="events.eventId"></tn-route-completions-filter>
</div>

<div tn-continuous-scroll="completions.service" class="page-content">

    <tn-route-completions completions-web-api-service="completions.service" template-url="/views/route/route-leaderboard-table-directive.html" context="this">
    </tn-route-completions>

</div>
<div ng-controller="tnRouteFilterController"></div>