<div class="page">
    <tn-header></tn-header>

    <md-content>
        <div class="container">
            <div class="route" ng-if="route.route">
                <div class="row page-tron cover" layout="column" layout-gt-sm="row">
                    <div class="summary cover" flex="45">
                        <tn-route-title route="route.route" show-trailhead="true" show-route-link="true" show-activity-types="true"></tn-route-title>
                        <hr>
                        <tn-route-summary-copy route="route.route"></tn-route-summary-copy>
                        <tn-route-summary-stats route="route.route"></tn-route-summary-stats>
                        <p ng-if="route.route.completionStats.routeEventsCount.value > 0">{{route.route.completionStats.routeEventCompletionsRatio.display.formatted}} of visits completed during {{route.route.completionStats.routeEventsCount.display.formattedValue}} events.</p>

                        <div class="well debug" ng-if="tn.debug">
                            <p>Score: {{route.route.score}}</p>
                        </div>

                        <a id="explore-link" ng-href="{{tn.appRouteService.explore.routeUrl(route.routeId)}}" class="pull-right">Explore Route</a>
                    </div>
                    <div class="cover" flex="55" ng-controller="tnRouteMapController">
                        <!-- <div class="hero" > -->
                        <tn-map map="mapService" class="explore-map" visible="map.visible">

                            <tn-trailheads trailheads="map.trailheads.entities" options="map.trailheads.options" selected-options="map.trailheads.selectedOptions" selectable="false"></tn-trailheads>

                            <tn-routes routes="map.routes.entities" selectable="false" highlight="false"></tn-routes>
                        </tn-map>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-default page-tabs" role="navigation">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav">
                                    <li ui-sref-active="active">
                                        <a ui-sref="route.all({routeId: route.routeId})">
                                            <span translate="LABEL_ALL"></span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="route.completions({routeId: route.routeId})">
                                            <span translate="LABEL_COMPLETIONS_BY_DATE"></span>
                                        </a>
                                    </li>
                                    <li ui-sref-active="active">
                                        <a ui-sref="route.people({routeId: route.routeId})">
                                            <span translate="LABEL_SOCIAL"></span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                <a ui-sref="route.events({routeId: route.routeId})">
                                    <span translate="LABEL_EVENTS"></span>
                                </a>
                            </li> -->
                                    <li ui-sref-active="active">
                                        <a ui-sref="route.leaderboard({routeId: route.routeId})">
                                            <span translate="LABEL_LEADERBOARD"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <ui-view></ui-view>
            </div>
        </div>
    </md-content>
</div>
