<div class="completions">
    <table class="table table-striped table-hover" ng-show="completionsWebApiService.entities.length > 0" ng-if="!compactFormat">
        <thead>
            <tr>
                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_ORDER' | translate}}</th>

                <th></th>

                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_START_DATE' | translate}}</th>

                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_PERSON' | translate}}</th>

                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_ATTEMPT' | translate}}</th>

                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_DURATION' | translate}}</th>

                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_APP' | translate}}</th>
                <th>{{'ROUTE_COMPLETIONS_TABLE_HEADER_EXTRA' | translate}}</th>
            </tr>

        </thead>
        <tbody>
            <!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
            <tr ng-repeat="completion in completionsWebApiService.entities">
                <td>{{completion.socialOrder}}</td>
                <td>
                    <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                </td>
                <td>{{completion.startTime.display.shortDate}}</td>
                <td class="who">
                    <a ui-sref="person.all({personId: completion.personId.value})">{{completion.person && completion.person.name || completion.personId.value}}</a>
                </td>
                <td>
                    <!-- <a ui-sref="{{appRouteConstants.states.sref.activity(completion.id)}}"> -->
                    <span ng-if="completion.personalOrder">{{completion.personalOrder}} of {{completion.personalTotal}}</span>
                    <span ng-if="completion.repeatCount">({{completion.repeatCount}})</span>
                    <!-- </a> -->
                </td>
                <td>{{completion.duration.display.compact}}</td>
                <td>
                    <tn-application-display ng-repeat="id in completion.activityId" application-key="id.app" icon-only="true" class="medium"></tn-application-display>
                </td>
                <td>
                    <span ng-if="!completion.isCourse">{{completion.beyondDistance.display.formatted}} / {{completion.beyondDuration.display.compact}}</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="visits-compact" ng-if="compactFormat" ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body">
                <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                <div>
                    <div class="who">
                        <a ui-sref="person.all({personId: completion.personId.value})">{{completion.person && completion.person.name || completion.personId.value}}</a>
                    </div>
                    {{completion.startTime.display.shortDate}}
                </div>
                <span class="pull-right compact-right">
                    <div>
                        Visit
                        <br/>
                        <span ng-if="completion.personalOrder">{{completion.personalOrder}} of {{completion.personalTotal}}</span>
                <span ng-if="completion.repeatCount">({{completion.repeatCount}})</span>
    </div>
    </span>
    <tn-application-display ng-repeat="id in completion.activityId" application-key="id.app" icon-only="true" class="medium"></tn-application-display>
    < </span>
        </li>
        </ul>
</div>

<div>
    <tn-spinner spinner-key="completionsSpinner" ng-show="completionsWebApiService.busy"></tn-spinner>
</div>
</div>
