<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><span translate="ROUTE_SOCIAL_COMPLETIONS_TOTAL_SUMMARY_LABEL"></span></h3>
            </div>
            <div>
                <tn-route-completions completions-web-api-service="people.service" template-url="/views/route/route-people-card-directive.html">
                </tn-route-completions>
                <tn-list-more url="tn.appRouteService.route.peopleUrl(route.routeId)"></tn-list-more>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><span translate="LABEL_COMPLETIONS_BY_DATE"></span></h3>
            </div>
            <div>
                <tn-route-completions completions-web-api-service="visits.service" template-url="/views/route/route-completions-list-directive.html">
                </tn-route-completions>
                <tn-list-more url="tn.appRouteService.route.completionsUrl(route.routeId)"></tn-list-more>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="pull-left"><span translate="LABEL_LEADERBOARD"></span></h3>
                <tn-activity-type-filter class="pull-right" filter="routeFilterService" activity-type-keys="activityTypeKeys"></tn-activity-type-filter>
            </div>
            <div>
                <tn-route-completions completions-web-api-service="leaderboard.service" template-url="/views/route/route-leaderboard-list-directive.html"
                context="this">
                </tn-route-completions>
                <tn-list-more url="tn.appRouteService.route.leaderboardUrl(route.routeId)"></tn-list-more>
            </div>
        </div>
    </div>
</div>