<div class="completions completions-list">
    <table class="table table-striped table-hover" ng-show="completionsWebApiService.entities.length > 0">
        <thead>
            <tr>
                <th style="text-align:center">{{'ROUTE_COMPLETION_SOCIAL_RACE_RANK_LABEL' | translate}}</th>

                <th></th>

                <th>{{'PERSON_NAME_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_DURATION_LABEL' | translate}}</th>

        </thead>
        <tbody>
            <!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
            <tr ng-repeat="completion in completionsWebApiService.entities">
                <td align="center">{{completion.socialRaceRank.display.formattedValue}}</td>
                <td align="center">
                    <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                </td>
                <td>
                    <ng-include src="'/views/route/completion-display-person-name-with-link.html'"></ng-include>
                </td>
                <td align="center">{{completion.duration.display.compact}}</td>
            </tr>
        </tbody>
    </table>

</div>