<div ng-include="template.url"></div>
<div style="position:relative">
	<tn-spinner spinner-key="completionsSpinner" ng-show="completionsWebApiService.busy"></tn-spinner>
</div>
<div ng-show="!completionsWebApiService.hasError && (completionsWebApiService.isEmpty() && !completionsWebApiService.busy)" class="not-found">
	<p class="alert alert-warning center" translate="ROUTE_COMPLETIONS_NOT_FOUND_USING_FILTER"></p>
</div>
<div ng-show="completionsWebApiService.hasError" class="not-found">
	<div class="alert alert-danger center" translate="TN_NETWORKING_ERROR"></div>
</div>
