<div class="route-cards">
    <tn-spinner spinner-key="route-cards-spinner"></tn-spinner>

    <div id="route-cards-scroll-containter" layout="row" layout-align="start start" class="scroll-horizontal" ng-show="!messageKey">

        <div class="card legend" ng-show="displayLegend()" hide-xsm>
            <div class="trailhead-card">
                <span class="icon-trailhead-large"></span>
                <!--     <img src="/images/thMarker-16-green.png" alt="Trailhead"></img> -->
            </div>
            <div class="legend-route">
            </div>
        </div>

        <div class="card" ng-repeat="r in routes">
            <div class="trailhead-card " ng-mouseover="mouseoverTh(r.startTrailhead.id);" ng-mouseleave="mouseleaveTh(r.startTrailhead.id)" ng-click=" focusTrailhead(r.startTrailhead.id)" ng-class="((selectedTh.id===r.startTrailhead.id) || (highlightedTh.id===r.startTrailhead.id)) &&
        'focused' || '' " ng-if="::!parent.showLegend">
                <p class="ellipsis">{{::r.startTrailhead.name.$}}</p>
            </div>
            <a ng-href="{{appRouteService.explore.routeUrl(r.id)}}" class="route-card ellipsis" ng-mouseover="mouseoverRoute(r.id); " ng-mouseleave="mouseleaveRoute(r.id) " ng-class="((selected.id===r.id) || (highlighted.id===r.id)) &&
        'focused' || '' ">
                <div class="ellipsis">{{::r.name['$']}}</div>
                <div layout-gt-sm="column" layout-sm="row" layout-align-sm="space-between center">
                    <tn-activity-types activity-type-stats="r.completionStats.activityTypeStats"></tn-activity-types>
                    <p>{{::r.distance.display.formatted}}</p>
                </div>

                <!-- <p>{{r.course.track.elevationGain.display.formatted}} {{dictionary.elevationGain.name.$}}</p> -->


                <p ng-if="::debug" class="debug" hide-sm>Score: {{::r.score}}
                    <span class="pull-right" ng-if="r.routeRelations">{{::r.routeRelations.length}} Related</span>
                    <span class="pull-right" ng-if="!r.routeRelations">0 Related</span>
                </p>
            </a>
        </div>


        <div class="card next-page" ng-if="hasNextPage && routes.length > 0">
            <div class="trailhead-card " ng-if="!parent.showLegend">
            </div>
            <div class="route-card" ng-click="nextPage()">
                <span class="icon-chevron-right icon-active hover-effects"></span>
            </div>
        </div>

    </div>
    <div ng-show="messageKey" layout="column">
        <div class="empty-message">
            <div class="center-vertically" ng-messages="messageKey" ng-transclude>
            </div>
        </div>
    </div>
</div>
