<div class="page-list">
    <div ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body visits-list">
                <div class="person pull-left">
                    <div>
                        <span class="icon-person"></span>
                    </div>
                    <div>
                        <ng-include src="'/views/route/completion-display-person-name-with-link.html'"></ng-include>
                    </div>
                </div>
                <div class="details stats compact">
                    <div>
                        <h1 translate="ROUTE_COMPLETION_COMPLETED_LABEL"></h1>
                        <p translate="LABEL_TIMES_COUNT" translate-values="{COUNT: completion.personalTotal.display.formattedValue}" translate-interpolation="messageformat"></p>
                    </div>

                    <div>
                        <h1 translate="ROUTE_COMPLETION_LAST_COMPLETED_LABEL"></h1>
                        <p>{{completion.startTime.display.mediumDate}}</p>
                    </div>

                    <div>
                        <h1 translate="ROUTE_COMPLETION_SOCIAL_ORDER_LABEL"></h1>
                        <p>{{completion.socialOrder.display.formattedValue}}</p>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>