<div class="panel-default filter-container">
    <h3 align="center" translate="ROUTE_COMPLETIONS_DESCRIPTION"></h3>
</div>
<div class="panel-default filter-container">
    <tn-route-completions-filter activity-type-keys="completions.activityTypeKeys" courses="completions.courses" people="completions.people" activity-type="completions.activityType" route-id="route.routeId"></tn-route-completions-filter>
</div>

<div tn-continuous-scroll="completions.service" class="page-content">

    <tn-route-completions completions-web-api-service="completions.service" template-url="/views/route/route-visits-table-directive.html" context="this">
    </tn-route-completions>

</div>
<div ng-controller="tnRouteFilterController"></div>
