<div class="completions-filter">
	<form name="filter">
		<tn-activity-type-filter filter="routeFilterService" activity-type-keys="activityTypeKeys" toggle-mode="{{activityTypeToggleMode}}"></tn-activity-type-filter>

		<button ng-if="debug" class="btn" ng-class="courses && 'btn-warning' ||'btn-default'" ng-click="filterByCourses()">Courses</button>

		<tn-person-suggest selection="people" route-id="routeId" activity-type="activityType"></tn-person-suggest>

		<div class="btn-group" dropdown is-open="status.isopen" ng-show="events.dropdown.length > 1">
			<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				<span ng-bind="events.title"></span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="item in events.dropdown"><a ng-click="item.click(item.id)"><span ng-bind-html="item.text"></span></a></li>
			</ul>
		</div>

	</form>

</div>
