<div class="route-summary">
    <div class="stats" layout="row" layout-align="space-around center">
        <div>
            <div translate="ROUTE_DISTANCE_LABEL" class="caption"></div>
            <p ng-bind="route.distance.display.formatted"></p>
        </div>
        <div>
            <a ng-href="{{appRouteService.route.completionsUrl(route.id)}}">
                <div translate="ROUTE_TOTAL_COMPLETIONS_SUMMARY_LABEL" class="caption"></div>
                <p ng-bind="route.completionStats.total"></p>
            </a>
        </div>

        <!-- <div>
            <h1 translate="ROUTE_TOTAL_EVENTS_SUMMARY_LABEL"></h1>
            <p ng-bind="route.routeEventCumulativeStatsCount.display.formattedValue"></p>
        </div> -->
        <div>
            <a ng-href="{{appRouteService.route.peopleUrl(route.id)}}">
                <div translate="ROUTE_SOCIAL_COMPLETIONS_TOTAL_SUMMARY_LABEL" class="caption"></div>
                <p ng-bind="route.socialCompletionStats.total"></p>
            </a>
        </div>
    </div>
</div>
