<div class="route-summary">
    <div class="copy" ng-show="route">
    	<p>
    		<span ng-bind-html="route.description.completionStats"></span>
    		<span ng-bind-html="route.description.trailheadName"></span>
    		<span ng-bind-html="route.description.variations"></span>
    		<span ng-bind-html="route.description.activityTypes"></span>
    		<span ng-bind-html="route.description.relativeStats"></span>
    	</p>
    </div>
</div>