<div class="entity-title" ng-class="!showTrailhead && 'entity-title-header'" layout="row">
    <!--
        <span class="icon-chevron-left grey2 hover-effects" ng-click="goBack()"></span>
    -->
    <span class="icon-route icon-secondary-color"></span>
    <div class="route" layout="row">
        <a ui-sref="explore.route({routeId: route.id})" ng-if="showRouteLink" class="route-link title"  title="{{routeTitle}}">{{routeTitle}}</a>
        <span ng-if="!showRouteLink" class="title" title="{{routeTitle}}">{{routeTitle}}</span>
        <br/>
        <span ng-if="showTrailhead">
            <a ui-sref="explore.trailhead({trailheadId: trailhead.id})" translate="ROUTE_TITLE_TRAILHEAD" translate-values="{trailheadName: trailhead.name.$}" class="subhead"></a>
        </span>
    </div>
    <div flex></div>
    <tn-activity-types ng-if="showActivityTypes" activity-type-stats="route.completionStats.activityTypeStats"></tn-activity-types>
</div>