<span class="horiz-list">
        <!-- pair[0] = url, pair[1] = applicationStats -->
        <span ng-repeat="(key, pair) in applicationLinks" >
            <tn-application-link url="pair[0]" application-key="key" icon-only="true"></tn-application-link>
            <div ng-show="debug" class="debug">{{pair[1].percent.display.formatted}}</div>
        </span>
</span>
