<div class="panel-default filter-container">
    <h3 align="center" translate="ROUTE_PEOPLE_DESCRIPTION"></h3>
</div>

<div tn-continuous-scroll="completions.service" class="page-content">

    <tn-route-completions completions-web-api-service="completions.service" template-url="/views/route/route-people-card-directive.html" context="this">
    </tn-route-completions>

</div>