<div class="page-table">
    <table class="table table-striped table-hover" ng-show="completionsWebApiService.entities.length > 0">
        <thead>
            <tr>
                <th style="text-align:center">{{'ROUTE_COMPLETION_SOCIAL_ORDER_LABEL' | translate}}</th>

                <th></th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_START_DATE_LABEL' | translate}}</th>

                <th>{{'ROUTE_COMPLETION_PERSON_NAME_LABEL' | translate}}</th>

                <th ng-if="debug">{{'ROUTE_COMPLETION_ATTEMPT_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_DURATION_LABEL' | translate}}</th>

                <th>{{'ROUTE_COMPLETION_EVENTS_LABEL' | translate}}</th>

                <th>{{'APPLICATION_LABEL' | translate}}</th>
                <th>{{'ROUTE_COMPLETION_EXTRA_LABEL' | translate}}</th>
            </tr>

        </thead>
        <tbody>
            <!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
            <tr ng-repeat="completion in completionsWebApiService.entities">
                <td align="center">{{completion.socialOrder.value}}</td>
                <td>
                    <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                </td>
                <td align="center">{{completion.startTime.display.shortDate}}</td>
                <td>
                    <ng-include src="'/views/route/completion-display-person-with-popover-and-link.html'"></ng-include>
                </td>
                <td ng-if="debug">
                    <ng-include src="'/views/route/completion-display-attempt.html'"></ng-include>
                </td>
                <td align="center">{{completion.duration.display.compact}}</td>
                <td>
                    <a ng-if="completion.routeEvent" ng-href="{{appRouteService.route.leaderboardUrl(completionsWebApiService.routeId, completion.routeEvent.compositeId, completion.routeEvent.activityType.key)}}">
                        <span translate="ROUTE_COMPLETIONS_TABLE_EVENT" translate-values="{completionCount: completion.routeEvent.completionsCount.display.formattedValue}"></span>
                        <span class="icon-group medium" style="vertical-align: sub;"></span>
                    </a>
                </td>
                <td>
                    <tn-completion-application-links completion="completion"></tn-completion-application-links>
                </td>
                <td>
                    <ng-include src="'/views/route/completion-display-extra.html'"></ng-include>
                </td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>

</div>
