<div ng-click="expanded = !expanded">
<div ng-show="route" class="entity-detail" ng-class="expanded && 'expanded'">

    <div ng-if="!route.completionsPending">
        <tn-route-summary-stats route="route"></tn-route-summary-stats>
        <tn-route-summary-copy route="route"></tn-route-summary-copy>
    </div>

    <p>
        <span translate="ROUTE_PROVIDER_LABEL"></span>
        <tn-route-application-links route="route"></tn-route-application-links>
    </p>


    <!--<span type="button" class="icon-cancel grey3 banner-close pull-right" ng-click="close()"></span>-->
    <div class="well debug" ng-if="debug">
        <p>Score: {{route.score}}</p>
        <p>Route Id: {{route.id}}</p>
        <p>Course: {{route.courseId.value}}</p>
        <p ng-show="!route.main">
            <a ui-sref="explore.route({routeId: route.mainId.value})">main route</a>
        </p>
        <p ng-if="route.completionsPending" ng-bind="'Completions pending.'"></p>

        <div>Related Routes:
            <ul>
                <li ng-show="route.routeRelations.length > 0" ng-repeat="related in relatedRoutes">
                    <span content-template="/views/route/related-route-popover.html" hoverable-popover>
                        <!-- <a ui-sref="explore.route({routeId: related.id})">{{related.name.$}}</a> -->
                        <a href="/explore/route/{{related.id}}?debug=true">{{related.name.$}}</a>
                    </span>
                </li>
                <li ng-show="!route.routeRelations || route.routeRelations.length === 0">No Relations</li>
            </ul>
        </div>
    </div>
</div>
<div layout="row" layout-align="center center" class="clickable" hide-sm hide-gt-lg>
    <span ng-show="!expanded"><span>More</span><span class="icon-arrow-drop-down"></span></span>
    <span ng-show="expanded"><span>Less</span><span class="icon-arrow-drop-up"></span></span>
</div>
</div>