<div class="page-table">
    <table class="table table-striped table-hover" ng-show="completionsWebApiService.entities.length > 0">
        <thead>
            <tr>
                <th style="text-align:center">{{'ROUTE_COMPLETION_SOCIAL_RACE_RANK_LABEL' | translate}}</th>

                <th>{{'ROUTE_COMPLETION_PERSON_NAME_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_DURATION_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_START_DATE_LABEL' | translate}}</th>

                <th ng-if="debug" style="text-align:center">{{'ROUTE_COMPLETION_ATTEMPT_LABEL' | translate}}</th>

                <th style="text-align:center">{{'APPLICATION_LABEL' | translate}}</th>

                <th>{{'ROUTE_COMPLETION_EXTRA_LABEL' | translate}}</th>

        </thead>
        <tbody>
            <!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
            <tr ng-repeat="completion in completionsWebApiService.entities">
                <td align="center">{{completion.socialRaceRank.display.formattedValue}}</td>
                <td class="who">
                    <ng-include src="'/views/route/completion-display-person-with-popover-and-link.html'"></ng-include>
                </td>
                <td align="center">{{completion.duration.display.compact}}</td>
                <td align="center">{{completion.startTime.display.shortDate}}</td>
                <td ng-if="debug" align="center">
                    <ng-include src="'/views/route/completion-display-attempt.html'"></ng-include>
                </td>
                <td align="center">
                    <tn-completion-application-links completion="completion"></tn-completion-application-links>
                </td>
                <td>
                    <span ng-if="!completion.isCourse">{{completion.beyondDistance.display.formatted}} / {{completion.beyondDuration.display.compact}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>