<div class="completions">
    <div class="visits-list" ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body">
                <div class="person">
                    <div>
                        <span class="icon-person"></span>
                    </div>
                    <div>
                        <ng-include src="'/views/route/completion-display-person-name-with-link.html'"></ng-include>
                        <br/> {{completion.startTime.display.shortDate}}
                    </div>
                </div>
                <div class="activity-type">
                    <tn-activity-type activity-type="completion.activityType" icon-styles="' small orange'"></tn-activity-type>
                    <div class="vertical-line"></div>
                </div>
                <div class="visit">
                    <div>
                        <a ui-sref="activity({activityId: completion.activityId[0].value})" ng-if="completion.person.name">
                            <span translate="ROUTE_COMPLETIONS_LIST_COMPLETIONS" translate-values="{personalOrder: completion.personalOrder.value, personalTotal: completion.personalTotal.value}"></span>
                        </a>
                        <div ng-if="!completion.person.name">
                            <span>{{'ROUTE_COMPLETION_DURATION_LABEL' | translate}}</span>
                            <span>{{completion.duration.display.compact}}</span>
                        </div>
                        <br/>
                        <span ng-if="completion.repeatCount">
                            <span translate="ROUTE_COMPLETIONS_LIST_REPEATS" translate-values="{REPEAT_COUNT: completion.repeatCount.display.formattedValue}" translate-interpolation="messageformat"></span>
                        </span>
                    </div>
                    <div>
                        <span ng-repeat="(key, url) in uniqueApplicationList(completion)">
                            <tn-application-link url="url" application-key="key" icon-only="true" class="medium"></tn-application-links>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
