<div class="footer" layout="row" class="caption">
	<span flex></span>
	<a href="/terms" target="_blank" ng-click="$event.stopPropagation()">Terms and Conditions</a>
	<a href="/privacy"target="_blank" ng-click="$event.stopPropagation()">Privacy Policy</a>
</div>
