<div class="modal scroll-vertical" tabindex="-1" role="dialog" ng-click="isOpen = false" ng-class="isOpen && 'open' || ''">
    <div ng-click="$event.stopPropagation();">
        <div class="panel panel-default">
            <div class="panel-heading" ng-if="header">
                <h3 class="panel-title">
                    <span ng-bind="modalTitle"></span>
                    <button type="button" class="close" ng-click="close();$event.stopPropagation();">
                        <span>&times;</span>
                </h3>
            </div>
            <div ng-transclude class="panel-default"></div>
        </div>
    </div>
</div>