<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
	<div class="arrow"></div>

	<div class="popover-inner">
		<h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
		<div class="popover-content" ng-bind-html="content"> </div>
	</div>
</div>
