<div ng-show="visible">
    <a ng-click="minimized = !minimized"><span class="toggle grey1 hover-effects" ng-class="minimized && 'icon-chevron-up ' || !minimized && 'icon-chevron-down'"></span></a>
    <div ng-show="!minimized">
        <div ng-transclude></div>
    </div>
</div>