<div tn-dropdown-menu>
	<div class="icon-layers hover-effects" ng-class="mapCtrl.mapTypeId() === 'hybrid' && 'white'" tn-dropdown-menu-control></div>
	<div class="map-control-dropdown-menu map-layer-menu" tn-dropdown-menu-content>
		<md-list>
			<md-item>
				<md-item-content layout="row" ng-click="changeMapLayer('roadmap')">
					<img src="/images/map/maptypes/roadmap-layer-icon.png">
					<div class="md-tile-content">
						Map
					</div>
				</md-item-content>
			</md-item>
			<md-item>
				<md-item-content layout="row" ng-click="changeMapLayer('hybrid')">
					<img src="/images/map/maptypes/satellite-layer-icon.png">
					<div class="md-tile-content">
						Earth
					</div>
				</md-item-content>
			</md-item>
			<md-item>
				<md-item-content layout="row" ng-click="changeMapLayer('terrain')">
					<img src="/images/map/maptypes/terrain-layer-icon.png">
					<div class="md-tile-content">
						Terrain
					</div>
				</md-item-content>
			</md-item>
		</md-list>
	</div>
</div>
