<div class="search">

    <form ng-submit="search()">
        <div layout="row">
            <div flex hide-gt-sm></div>
            <md-input-container>
                <input id="search-input" aria-label="location search" flex type="text" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}" ng-model="query" xng-show="searchOpen" class="disable-animate-slide-left" tn-reset-field>
            </md-input-container>
            <div aria-label="search" ng-click="searchOpen = !searchOpen;focus()" hide-gt-sm class="icon-search icon-button white">
            </div>

            <md-button aria-label="search" class="md-raised md-primary md-button md-blue-theme search-button" ng-click="search()" hide-sm>
                <span class="icon-search medium white center-vertically"></span>
            </md-button>
        </div>
    </form>

    <div ng-transclude></div>
</div>
