<md-item-content ng-if="match.model.domain === 'route'">
	<div class="md-tile-left">
		<span class="icon-route orange"></span>
	</div>
	<div class="md-tile-content">
		<div tabindex="-1" bind-html-unsafe="match.model.title | typeaheadHighlight:query" class="subhead"></div>
		<p>
			<a ng-href="{{match.model.subtitleUrl}}" tabindex="-1" bind-html-unsafe="match.model.subtitle | typeaheadHighlight:query" ng-if="match.model.subtitleUrl"></a>
		</p>
	</div>
</md-item-content>

<md-item-content ng-if="match.model.domain === 'system'">
	<div class="md-tile-left">
		<span class="icon-clear"></span>
	</div>

	<div class="md-tile-content">
		<span ng-if="match.model.domain === 'system'" tabindex="-1" bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span>
	</div>
</md-item-content>
