<div class="search">
	<form ng-submit="search()">
		<div layout="row">
			<div flex>
				<input id="search-input" aria-label="search routes" type="text" class="icon" placeholder="&#xe611; {{'ROUTE_SEARCH_PLACEHOLDER' | 	translate}}" ng-model="query" disable-xng-clearable typeahead-template-url="/views/search/search-result.html" typeahead="match as match.title for match in suggest($viewValue) | limitTo:5" typeahead-loading="service.busy" typeahead-editable="false" typeahead-on-select="select($item, $model, $label)">
			</div>
		</div>
	</form>
</div>
