<div class="page">
    <tn-header></tn-header>

    <div class="container">
        <div class="activity" ng-if="activity">
            <div class="row page-tron">
                <div class="col-xs-12 col-md-5 summary" ng-if="activity">
                    <div class="entity-title entity-title-header">
                        <!-- <span class="icon-route orange"></span> -->
                        <div class="route">
                            <span>{{activityTitle}}</span>
                            <br/>
                            <a class="trailhead-link" ng-href="{{tn.appRouteService.person.personAllUrl(person.id)}}">{{person.name}}  ({{activity.track.start.timestamp.display.mediumDate}})</a>
                        </div>
                        <tn-activity-type activity-type="activity.activityType" icon-styles="'orange'"></tn-activity-type>
                    </div>
                    <hr>
                    <div class="route-summary">
                        <div class="stats">
                            <div>
                                <h1 translate="ACTIVITY_DISTANCE_LABEL"></h1>
                                <p ng-bind="activity.track.distance.display.formatted"></p>
                            </div>
                            <div>
                                <h1 translate="ACTIVITY_DURATION_LABEL"></h1>
                                <p ng-bind="activity.track.elapsedTime.display.compact"></p>
                            </div>
                            <div>
                                <h1 translate="ACTIVITY_ELEVATION_GAIN_LABEL"></h1>
                                <p ng-bind="activity.track.elevationGain.display.formatted"></p>
                            </div>
                        </div>
                        <br/>
                        <div>
                            <h2>View or Download at
                                <tn-application-link url="activity.applicationReference.url" application-key="activity.applicationKey.value" icon-only="false" class="medium"></tn-application-link>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 cover">
                    <div class="map hero" ng-controller="tnActivityMapController">
                        <tn-map map="mapService" class="explore-map" visible="map.visible">

                            <tn-trailheads trailheads="map.trailheads.entities" selectable="false" options="map.trailheads.options" selected-options="map.trailheads.selectedOptions"></tn-trailheads>

                            <tn-routes routes="map.activities.entities" highlight="false" selectable="false"></tn-routes>
                        </tn-map>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Routes</h3>
                    </div>
                    <div>
                        <tn-route-visits completions-web-api-service="completions.service" template-url="/views/route/route-completions-list-directive.html"></tn-route-visits>
                        <tn-list-more url="tn.appRouteService.activity.activityUrl(activity.id)"></tn-list-more>
                    </div>
                </div>
            </div> -->
                <div class="col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 translate="ACTIVITY_COMPLETIONS_LABEL"></h3>
                        </div>
                        <div>
                            <tn-route-completions completions-web-api-service="completions.service" template-url="/views/activity/activity-completions-list-directive.html" context="this"></tn-route-completions>
                            <!-- <tn-list-more url="tn.appRouteService.activity.activityUrl(activity.id)"></tn-list-more> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
