<div class="completions">
    <div class="visits-list" ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body">
                <div class="person">
                    <div>
                        <span class="icon-route icon-secondary-color"></span>
                    </div>
                    <div>
                        <h2>
                            <ng-include src="'/views/route/completion-display-route-name-with-link.html'"></ng-include>
                            <span ng-if="completion.isCourse">(Exact Match)</span>
                        </h2>
                        <p class="values">
                            <span>{{completion.route.distance.display.formatted}}</span>
                            <span>{{completion.duration.display.compact}}</span>
                        </p>
                        <div class="visit">
                            <span translate="ROUTE_COMPLETIONS_LIST_COMPLETIONS" translate-values="{personalOrder: completion.personalOrder.display.formattedValue, personalTotal: completion.personalTotal.display.formattedValue}"></span>
                            <span ng-if="completion.repeatCount && completion.repeatCount > 1">
                                <br/>
                                <span translate="ROUTE_COMPLETIONS_LIST_REPEATS" translate-values="{REPEAT_COUNT: completion.repeatCount.display.formattedValue}" translate-interpolation="messageformat"></span>
                            </span>
                        </div>
                        <p class="visit" translate="ROUTE_COMPLETIONS_LIST_PERSONAL_ATTEMPT" translate-values="{personalRaceRank: completion.personalRaceRank.display.formattedValue}"></p>
                    </div>
                </div>
                <div class="activity-type">
                    <div class="vertical-line"></div>
                </div>
                <div class="visit">
                    <div>
                        <p>{{completion.socialOrder.display.formattedValue}} Completion</p>
                        <p>{{completion.socialRaceRank.display.formattedValue}} Fastest Time</p>
                        <p>{{completion.socialCountRank.display.formattedValue}} Person to Complete</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>