<div class="system-page">
    <tn-header></tn-header>

    <div class="description">
        <h1 translate="SYSTEM_404_TITLE"></h1>
        <p>
            <a href="/" translate="SYSTEM_404_SUBTITLE"></a>
        </p>
    </div>

</div>
