<div class="system-page">
    <tn-header></tn-header>

    <div class="description">
        <h1 translate="SYSTEM_500_TITLE"></h1>
        <p>
            <span translate="SYSTEM_500_SUBTITLE"></span>
        </p>
    </div>

</div>
