<h1>Playground</h1>

<div ng-controller='tnPlaygroundController' class=>
    <tn-modal class="modal-lg" is-open="modal.visible" modal-title="completions.title" close="close()">
        <div>
            <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='0'
        infinite-scroll-use-document-bottom="true">
                <div ng-repeat='item in reddit.items'>
                    <span class='score'>{{item.score}}</span>
                    <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
                    <small>by {{item.author}} -
        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
      </small>
                    <div style='clear: both;'></div>
                </div>
                <div ng-show='reddit.busy'>Loading data...</div>
            </div>
        </div>
    </tn-modal>
</div>