<!doctype html>
<html class="no-js" ng-controller="tnController">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="tn.browserService.title()">TrailNetwork</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="fragment" content="!" />

    <!--[if lt IE 11]><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"><![endif]-->
    <link rel="apple-touch-icon-precomposed" href="favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="TrailNetwork">
    <!-- Microsoft cleartype -->
    <meta http-equiv="cleartype" content="on">

    <!-- build:css({.tmp,app}) main/styles.css -->
    <link rel="stylesheet" href="/vendor/bower/angular-material/angular-material.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <script src="http://maps.googleapis.com/maps/api/js?v=3&key=<!-- @echo googleKey -->&libraries=geometry,places&sensor=true"></script>
    <script src="https://www.google.com/jsapi"></script>
</head>

<body class="tn">
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

    <!-- Add your site or application content here -->
    <tn-notification></tn-notification>
    <div ng-if="tn.error" class="full-height">
        <div ng-include src="'/views/' + tn.error.status + '.html'" class="full-height"></div>
    </div>
    <div ng-if="!tn.error" ui-view class="full-height"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53858704-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script src="/vendor/requirejs/2.1.9/require.min.js" data-main="/scripts/tn.js"></script>

</body>

</html>
