<tn-header></tn-header>

<div class="terms">
		<p class="display1">TrailNetwork, Inc.
			<br/> Terms and Conditions of Use</p>
		<p class="body">Last Updated: February 5, 2015</p>

		<p>
			The following terms and conditions of use (the “Terms”) govern all use of TrailNetwork, Inc.’s (a California corporation - “TrailNetwork”, “us”, “our”, “we”) website (“TrailNetwork.com”) and all its content, our Services in general, and any products available through our Website or Services. The Website is owned and operated by TrailNetwork, and is offered subject to your acceptance without modification of all of our Terms and all other operating rules, policies and procedures that may be published from time to time on this Website or through our Services, including but not necessarily limited to our Privacy Policy, which is incorporated herein by this reference. The term “Services” means our websites, including TrailNetwork.com, our mobile Application(s), widgets, software development kits, application programming interface (API), tools, calculators, content, social networking components, products, services, or promotional offers made available by TrailNetwork.
		</p>

		<p>
			PLEASE READ OUR TERMS VERY CAREFULLY BEFORE ACCESSING OR USING OUR WEBSITE. BY ACCESSING, USING OR DOWNLOADING ANY PART OF OUR WEBSITE OR OUR OTHER SERVICES, INCLUDING BUT NOT LIMITED TO OUR APPLICATIONS, YOU SIGNIFY YOUR AGREEMENT TO, AND AGREE TO BE BOUND BY, THESE TERMS AND (BY INCORPORATION HEREIN) OUR PRIVACY POLICY (TOGETHER REFERRED TO SIMPLY AS OUR “TERMS”). IF YOU DO NOT AGREE TO OUR TERMS, THEN YOU MAY NOT USE, ACCESS OR DOWNLOAD OUR WEBSITE OR OUR SERVICES. IF THESE TERMS ARE CONSIDERED AN OFFER BY US, ACCEPTANCE IS EXPRESSLY LIMITED TO THE TERMS.
		</p>

		<p>
			Note that special terms might apply to some services or features offered through our Website or Services. Such terms may be posted in connection with the applicable Service or feature. Any such terms are in addition to these Terms, and in the event of a conflict, prevail over these Terms. We may modify these Terms at any time by updating this posting. You are bound by any such modification and should therefore visit this page periodically to review these Terms, which will identify the date they were “Last Updated” above.
		</p>

		<h1>Definitions</h1>

		<p>
			For purposes of our Terms and Privacy Policy, the following capitalized words have the identified meanings:
		</p>

		<p>
			“Affiliate” means 1) a person or Organization which (or who) owns fifty percent (50%) or more of our equity (by vote or value), or in which we own fifty percent (50%) or more of the Organization’s equity; 2) an Organization whose ownership (by vote or value) is the same (directly or indirectly) as fifty percent (50%) or more of our ownership, 3) a person or Organization that uses TrailNetwork’s application programming interface (API) to provide additional services using our content.
		</p>

		<p>
			“Application” means any software that allows an end user to perform specific tasks, interacting with database programs, word processors, web browsers, spreadsheets, or other content. Applications can operate in connection with laptop or desktop computers, tablets, smart phones or other mobile devices, or other hardware, such as wearable devices such as watches, jewelry, eye glasses or other clothing.
		</p>

		<p>
			“Organization” means any business or not for profit organization or association, including but not limited to a corporation, limited liability company, partnership, or trust.
		</p>

		<p>
			“Services” means any of our websites, including trailnetwork.com, Applications, widgets, software development kits, application programming interface (API), tools, calculators, content, social networking components, products, services, or select promotional offers made available by us.
		</p>

		<H1>Eligibility</H1>

		<p>
			The Services are not intended or designed for children under 13 years of age. By using the Services, you represent and warrant that you are at least 18 years of age and have reviewed and now consent to the Terms, or, if you are under 18 years of age (but 13 years of age or older), then you affirm that you possess the legal consent of your parent or guardian to access and use the Services.
		</p>

		<p>
			If you are a parent or guardian agreeing to the Terms for the benefit of a child over 13, then you represent and warrant that you have reviewed and now consent to the Terms and accept full responsibility for your child’s use of the Website and our Services, including all financial charges and legal liability that such child may incur in connection with the use of the Website or our Services..
		</p>

		<p>
			The Website or our Services may include features that promote physical activity and fitness. By using the Website or our Services, you agree, represent, and warrant that you have received consent from your physician to participate in health and fitness programs, workouts, exercises, or any other related activities made available through or enhanced by the Website or our Services.
		</p>

		<h1>Software Ownership and Proprietary Rights</h1>

		<p>
			TrailNetwork grants you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by us as part of our Website or Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of our Website and Services as provided by TrailNetwork, in the manner permitted by our Terms. You may not copy, modify, distribute, sell, sublicense, or lease any part of our Website or Services, or any incorporated software, nor may you reverse engineer or attempt to extract the source code of that software, unless laws prohibit those restrictions or you have our prior written consent.
		</p>

		<p>
			Open source software is important to us. Some software used in our Website or Services is offered under an open source license that is made available to you through the use of our Services. There may be provisions in the open source license that override some of the provisions of our Terms and/or Privacy Policy. Such software includes, but is not necessarily limited to, AngularJs, JQuery and RequireJS. You are strongly encouraged to review the licenses which apply to these software platforms. Though we will endeavor to update this list when we add or no longer use certain open source code, we may not do so immediately upon the occurrence of such a change. To the extent you intend or desire to use our Services or Applications in a manner which is generally at odds with the standard provisions with a typical open source license agreement, you are encouraged to contact us directly for an updated list of all current open source software used in our Services or Applications.
		</p>

		<h1>Intellectual Property Rights</h1>

		<p>
			These Terms do not grant or assign to you any ownership interest whatsoever in any intellectual or intangible property owned or licensed by us or our Affiliates, including but not limited to software, copyrights, trademarks, service marks, graphics and logos (collectively, “IP”) used in connection with our Website or Services. All right, title and interest in and to such IP remains the exclusive property of TrailNetwork, its licensors and Affiliates. There may also be other trademarks, service marks, graphics and logos used in connection with the Website or our Services which are the property of other third parties. Your use of the Website or our Services grants you no right or license to reproduce or otherwise use any such third party service marks, graphics and logos.
		</p>

		<h1>Your Account</h1>

		<p>
			You are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. You must not use your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and we reserve the right, in our sole discretion, to change or remove any description or keyword we consider inappropriate or unlawful, or otherwise likely to cause us liability. You must immediately notify TrailNetwork of any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
		</p>

		<h2>Third Party Services and Logins</h2>

		<p>
			You may enable or log in to our Website or to use our Services, via various online third party services, such as social media and social networking services like Facebook® or Google Plus® (“Social Networking Services”). By logging in or directly integrating these Social Networking Services into the Website, we make your online and mobile experiences richer and more personalized. To take advantage of this feature and capabilities, we may ask you to authenticate, register for, or log into Social Networking Services on the websites of their respective providers. As part of such integration, the Social Networking Services will provide us with access to certain information that you have provided to them, and we will use, store, and disclose such information in accordance with our Privacy Policy. Please remember that the manner in which Social Networking Services use, store, and disclose your information is governed solely by the policies of these third parties, and we have no liability or responsibility for the privacy practices or other actions of any third party website or service that may be enabled within our Website or our Services. In addition, we are not responsible for the accuracy, availability, or reliability of any information, content, goods, data, opinions, advice, or statements made available in connection with Social Networking Services. As such, we are not liable for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such Social Networking Services. We enable these features merely as a convenience to our users.
		</p>

		<h1>Responsibility of Contributors</h1>

		<p>
			Our Website may allow you to upload, submit, store, send or receive content, post material to the Website or through our Services, post links on the Website or through our Services, or otherwise make (or allow any third party to make) material available by means of the Website or our Services (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of what the nature of the Content is (for instance, whether it constitutes text, graphics, an audio file, computer software, etc.) With respect to any of your Content, you represent and warrant to us and our Affiliates that:
		</p>

		<ul>
			<li>the downloading, copying and use of the Content does not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, or other intellectual property rights of any third party;</li>

			<li>it is accurate and not misleading;</li>

			<li>if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;</li>

			<li>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms; </li>

			<li>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>

			<li>the Content is not spam, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>

			<li>the Content is not obscene, libelous or defamatory (more info on what that means), hateful or racially or ethnically objectionable, and does not violate the privacy or publicity rights of any third party;</li>

			<li>the Content does not involve commercial activities and/or sales without our prior written consent, such as contests, sweepstakes, barter, advertising, or pyramid schemes;</li>

			<li>the Content does not include a photograph of another person posted without that person’s consent or, in the case of children under the age of eighteen (18), parental consent, or otherwise constitutes an invasion of an individual’s privacy or infringement of publicity rights; and</li>

			<li>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by TrailNetwork, Inc. or otherwise.</li>
		</ul>

		<p>
			By uploading, submitting, storing, sending or receiving Content to or through our Website or in interaction with our other Services, you grant TrailNetwork, Inc. and its Affiliates a world-wide, royalty-free, and non-exclusive license (with authority to sub-license) to use, host, store, communicate, distribute, modify, reproduce, adapt, create derivative works (such as, by way of example and not limitation, our Routes, Trailheads, Leaderboard Rankings, connections and relations between Activities or other translations, adaptations or changes we make so that your content works better with our Website or Services), publish, publicly perform, otherwise exploit such Content for any purpose (including commercial, marketing, advertising, or otherwise), publicly display and publish the Content for the purposes of providing and promoting the Website and features and services available on the Website, and our Services. Notwithstanding the foregoing, however, you retain ownership of any intellectual property rights that you hold in your Content.
		</p>

		<p>
			The rights you grant in this license are for the limited purpose of operating, promoting, and improving our Website and Services, and to develop new ones. This license continues even if you stop using our Website or Services (for example, for a Route that we identified from your Activity data). Our Website may offer you ways to access and remove content that has been provided to the Website. Make sure you have the necessary rights to grant us this license for any content that you submit to our Website.
		</p>

		<p>
			If you have an Account, we may display your Profile name, Profile photo, and actions you take on the Website in our Website, or through other interaction with our Services, including displaying in ads and other commercial contexts. We will respect the choices you make to limit sharing or visibility of your Activity data. For example, if you choose your make your activities private on a third party service, when we import your activity data from that provider, if your privacy setting are detected we will limit the visibility of that activity in the Website.
		</p>

		<p>
			Without limiting any of those representations or warranties, TrailNetwork, Inc. has the right (though not the obligation) to, in TrailNetwork, Inc.’s sole discretion (i) refuse or remove any Content that, in TrailNetwork, Inc.’s opinion, violates any TrailNetwork, Inc. policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website or our Services to any individual or entity for any reason, in TrailNetwork, Inc.’s sole discretion. TrailNetwork, Inc. will have no obligation to provide a refund of any amounts previously paid.
		</p>

		<h1>Responsibility of Website Visitors</h1>

		<p>
			TrailNetwork, Inc. has not reviewed, and cannot review, any material, including computer software, posted to the Website or through our Services, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website and our Services, TrailNetwork, Inc. does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. TrailNetwork, Inc. disclaims any responsibility for any harm or damage resulting from the use by visitors of the Website or our Services, or from any Content there posted.
		</p>

		<h1>Links to Third Parties</h1>

		<p>
			The Website may provide, or third parties may provide, links to other websites, applications, services, offers, and/or other resources (collectively, the “Third Party Resources”). Because we have no control over such Third Party Resources, you acknowledge and agree that we are not responsible for the availability of such Third Party Resources and that we do not endorse and are not responsible or liable for any content, advertising, products, or other materials on or available from such Third Party Resources.
		</p>

		<h1>Privacy</h1>

		<p>
			Please refer to our <a href="/privacy">Privacy Policy</a>, for information on how we collect, use and disclose personally identifiable information.
		</p>

		<h1>Copyright Protection</h1>

		<p>
			As TrailNetwork, Inc. asks others to respect its intellectual property rights, it respects the intellectual property rights of others. We respond to notices of alleged copyright infringement and terminate accounts of repeat infringers according to the process set out in the U.S. Digital Millennium Copyright Act.
		</p>

		<p>
			To submit a copyright infringement notification to TrailNetwork, Inc., please submit a notification pursuant to the Digital Millennium Copyright Act ("DMCA") by providing the below-specified Copyright Agent with the following information in writing:
		</p>

		<ul>
			<li>
				A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
			</li>

			<li>
				Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.
			</li>

			<li>
				Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material.
			</li>

			<li>
				Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.
			</li>

			<li>
				A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
			</li>

			<li>
				A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
			</li>

		</ul>

		<p>
			You acknowledge that if you fail to comply with all of the requirements of the preceding paragraph, your DMCA notice may not be valid. Please see 17 U.S.C. §512 for more information regarding the DMCA and DMCA notifications.
		</p>

		<p>
			Our Agent to Receive Notification of Claimed Copyright Infringement can be reached as follows:
		</p>

		<p>
			By Email: <a href="mailto:support@trailnetwork.com">support@trailnetwork.com</a>
		</p>

		<h1>Changes</h1>

		<p>
			We reserve the right, at our discretion, to revise, modify, add, or remove portions of the Terms at any time. By your use of the Website or our other Services, you obligate yourself to periodically check the Terms for any changes. Your continued use of the Website or our Services after the posting of any revisions or modifications to the Terms constitutes your binding acceptance of such changes.
		</p>

		<h1>Termination</h1>

		<p>
			TrailNetwork may terminate your access to all or any part of the Website or our Services at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate the agreement represented by our Terms, or your Account (if you have one), you may simply discontinue using the Website or other applicable Services. Notwithstanding the foregoing, if you have an Account, such account can only be terminated by TrailNetwork if you breach the Terms or out Privacy Policy and fail to cure such breach within a reasonable time after TrailNetwork, Inc.’s notice to you thereof; provided, that can terminate your use of the Website or our Services immediately as part of a general shut down of our Service. All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, licensing provisions, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
		</p>

		<h1>Physical Fitness and Mental Health</h1>

		<p>
			YOU ACKNOWLEDGE, UNDERSTAND AND AGREE THAT TRAILNETWORK, INC. HAS NO RESPONSIBILITY WHATSOEVER FOR THE INSPECTION, SUPERVISION, PREPARATION, OR CONDUCT OF ANY RACE, CONTEST, INDIVIDUAL OR GROUP ATHLETIC EVENT OR ACTIVITY, THAT IS FEATURED ON OR OTHERWISE USES OUR WEBSITE OR SERVICES. YOU ACKNOWLEDGE AND EXPRESSLY AGREE THAT YOUR ATHLETIC OR OTHER ACTIVITIES WHICH GENERATE CONTENT YOU MAY POST OR SEEK TO POST ON OUR WEBSITE OR THROUGH OUR SERVICES MAY CARRY CERTAIN INHERENT AND SIGNIFICANT RISKS OF PROPERTY DAMAGE, PHYSICAL OR PSYCHOLOGICAL INJURY STRESS, OR EVEN DEATH. YOU HEREBY KNOWINGLY AND VOLUNTARILY ASSUME ALL KNOWN AND UNKNOWN RISKS OF WHATEVER KIND OR NATURE, WHICH MAY BE ASSOCIATED WITH THESE ACTIVITIES, EVEN IF CAUSED IN WHOLE OR PART BY THE ACTION, INACTION, OR NEGLIGENCE OF US OR OUR AFFILIATES.
		</p>

		<p>
			YOU UNDERSTAND THAT NEITHER WE NOR OUR AFFILIATES ARE PHYSICAL OR MENTAL HEALTH CARE PROFESSIONALS. YOU EXPRESSLY ACKNOWLEDGE, UNDERSTAND AND AGREE THAT WE ARE NOT PROVIDING (NOR IS OUR INTENT TO PROVIDE) MEDICAL OR ANY OTHER KIND OF ADVICE THROUGH OUR WEBSITE OR OTHER SERVICES. ALL OF OUR OR OUR AFFILIATE'S CONTENT PROVIDED THROUGH OR FACILITATED BY OUR WEBSITE OR OUR SERVICES, INCLUDING, BUT NOT NECESSARILY LIMITED TO, GRAPHICS, TEXT, IMAGES (PHOTOGRAPHIC, ARTISTIC OR OTHERWISE), ILLUSTRATIONS, AUDIO-VIDEO CONTENT (INCLUDING, BUT NOT LIMITED TO, AUDIO, VIDEO, AUDIO-VIDEO AND AUDIO-VISUAL CONTENT), AND OTHER MATERIALS, WHETHER PRODUCED OR PROVIDED BY US OR OUR AFFILIATES, OR BY YOU, OTHER USERS OR THIRD PARTIES, IS NOT INTENDED TO BE AND SHOULD NOT BE USED IN PLACE OF THE ADVICE OF YOUR PHYSICIAN OR OTHER MEDICAL OR MENTAL HEALTH CARE PROFESSIONALS. SHOULD YOU HAVE ANY MENTAL OR PHYSICAL HEALTH RELATED QUESTIONS, PLEASE CALL OR SEE A DOCTOR OR OTHER MEDICAL OR MENTAL HEALTH CARE PROVIDER PROMPTLY. AND IF YOU HAVE AN EMERGENCY, PLEASE MAKE CONTACT WITH THE APPROPRIATE EMERGENCY RESOURCE IMMEDIATELY.
		</p>

		<p>
			YOU ARE STRONGLY CAUTIONED NOT TO SEEK OR DECIDE NOT TO SEEK THE ADVICE OR ASSISTANCE OF A MEDICAL OR MENTAL HEALTH CARE PROFESSIONAL, AND YOU ARE STRONGLY CAUTIONED NOT TO DELAY OR DISREGARD THE ADVICE OR ASSISTANCE OF A MEDICAL OR MENTAL HEALTH CARE PROFESSIONAL BECAUSE OF ANYTHING (CONTENT OR OTHERWISE) PRESENTED ON OR FACILITATED BY OUR WEBSITE OR OUR SERVICES. FURTHERMORE, YOU SHOULD NEVER USE ANYTHING (CONTENT OR OTHERWISE) ON OR FACILITATED BY OUR WEBSITE OR SERVICES FOR DIAGNOSING OR TREATING A MENATL OR PHYSICAL HEALTH PROBLEM. THE TRANSMISSION AND/OR RECEIPT OF ANY CONTENT, IN WHOLE OR IN PART, OR COMMUNICATION OVER THE INTERNET, BY E-MAIL, OR ANY OTHER MEANS DOES NOT CONSTITUTE OR CREATE ANY DOCTOR-PATIENT, THERAPIST-PATIENT OR OTHER HEALTHCARE PROFESSIONAL RELATIONSHIP BETWEEN YOU US AND OUR AFFILIATES.
		</p>


		<h1>RELEASE; PROMISE NOT TO SUE</h1>

		<p>
			SOME JURISDICTIONS MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THEREFORE THE LIMITATIONS SET FORTH BELOW MAY NOT APPLY TO YOU. IN SUCH A CASE, YOU AND WE INTEND THAT OUR AND OUR AFFILIATES’ LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW. YOU HEREBY EXPRESSLY RELEASE US AND OUR AFFILIATES FROM ANY AND ALL LIABILITY CONNECTED WITH YOUR USE OF OUR WEBSITE OR SERVICES (INCLUDING, BUT NOT LIMITED TO YOUR PARTICIPATION IN OR CONDUCT OF ANY ATHLETIC ACTIVITY). FURTHERMORE, YOU EXPRESSLY PROMISE NOT TO SUE US OR OUR AFFILIATES FOR ANY CLAIMS, ACTIONS, INJURIES, DEATH, DAMAGES, OR LOSSES ANY KIND WHATSOEVER, ASSOCIATED WITH YOUR USE OR NON-USE OF THE WEBSITE OR OUR SERVICES (INCLUDING BUT NOT LIMITED TO YOUR PARTICIPATION IN OR CONDUCT OF ANY ATHLETIC ACTIVITY). YOU ALSO UNDERSTAND, ACKNOWLEDGE AND AGREE THAT IN NO EVENT SHALL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OR MISUSE OF THE WEBSITE OR OUR SERVICES, YOUR DEALINGS WITH THIRD PARTY SERVICE PROVIDERS OR ADVERTISERS AVAILABLE THROUGH THE WEBSITE OR OUR SERVICES, ANY DELAY OR INABILITY TO USE THE WEBSITE OR OUR SERVICES EXPERIENCED BY YOU OR OTHERS, ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES, OR CONTENT OBTAINED THROUGH OUR WEBSITE OR OUR SERVICES, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, EVEN IF WE OR OUR AFFILIATES HAVE BEEN ADVISED OF THE POSSIBILITY OF DAMAGES.
		</p>

		<h1>WAIVER AND RELEASE OF LIABILITY</h1>

		<p>
			IN CONSIDERATION OF TRAILNETWORK FURNISHING SERVICES TO ENABLE ME TO USE THE TRAILNETWORK WEBSITE OR OTHER SERVICES IN CONNECTION WITH ANY ACTIVITY (INCLUDING, BY WAY OF EXAMPLE, AND NOT LIMITATION, CYCLING, SKATEBOARDING, RUNNING, HIKING WALKING, ROUTE PLANNING, AND/OR PARTICIPATION IN VIRTUAL EVENTS) OR ACTIVITIES WITH RESPECT TO WHICH I INTERACT WITH OR USE THE WEBSITE OR TRAILNETWORK’S SERVICES, (COLLECTIVELY REFERRED TO AS “ACTIVITIES”), I AGREE TO THE TERMS OF THIS WAIVER AND RELEASE OF LIABILITY (“RELEASE”) AS SET FORTH HEREIN. I FULLY UNDERSTAND AND ACKNOWLEDGE THE FOLLOWING:
		</p>

		<ol>

			<li>
				THAT I AM ALSO SOLELY RESPONSIBLE FOR WHETHER I WILL OR WILL NOT WEAR A HELMET OR OTHER PROTECTIVE GEAR OR EQUIPMENT WHILE PARTICIPATING IN ACTIVITIES;
			</li>

			<li>
				THAT IN CONSIDERATION FOR ALLOWING ME TO USE TRAILNETWORKS’ WEBSITE OR OTHER SERVICES IN PARTICIPATING IN THESE ACTIVITIES, I HEREBY ASSUME ALL RISKS AND DANGERS AND ALL RESPONSIBILITY FOR ANY LOSSES AND/OR DAMAGE, WHETHER CAUSED IN WHOLE OR IN PART BY THE NEGLIGENCE OR OTHER CONDUCT OF THE OWNERS, MANAGERS, MEMBERS, AGENTS, OFFICERS, EMPLOYEES OR AFFILIATES OF TRAILNETWORK;
			</li>

			<li>
				THAT THE ACTIVITIES HAVE INHERENT RISKS, DANGERS, AND HAZARDS;
			</li>

			<li>
				THAT MY PARTICIPATION IN THE ACTIVITIES CARRIES WITH IT THE POTENTIAL FOR PROPERTY LOSS AND SERIOUS INJURY OR ILLNESS, INCLUDING, BUT NOT LIMITED TO, BODILY INJURY, DISEASE, STRAINS, STRESS, FRACTURES, PARTIAL AND/OR TOTAL PARALYSIS, DEATH OR OTHER EFFECTS THAT COULD CAUSE SERIOUS DISABILITY;
			</li>

			<li>
				THAT THE RISKS AND DANGERS ARISING OUT OF OR RELATING TO THE ACTIVITIES MAY BE CAUSED BY MY OWN NEGLIGENCE,OR THE NEGLIGENCES OF THE OWNERS, MANAGERS, MEMBERS, AGENTS, OFFICERS, EMPLOYEES, OR AFFILIATES OF TRAILNETWORK, THE NEGLIGENCE OF SPONSORS, COMPONENT MANUFACTURERS, ORIGINAL EQUIPMENT MANUFACTURERS, INDEPENDENT BIKE OR OTHER EQUIPMENT DEALERS, TRAIL ASSOCIATIONS, INDIVIDUAL PROMOTERS, EVENT PROMOTERS, CLUBS, CYCLING CLUBS, AGENCIES, PERSONAL TRAINERS, PARTICIPANTS, OR OTHER PARTIES, AS WELL AS ACCIDENTS, BREACHES OF CONTRACT, THE FORCES OF NATURE, OR OTHER CAUSES. RISKS AND DANGERS WHICH MAY ARISE FROM FORESEEABLE OR UNFORESEEABLE CAUSES INCLUDING, BUT NOT LIMITED TO, THOSE CAUSED BY TERRAIN, DARKNESS, ALTITUDE, TEMPERATURE, WEATHER, CONDITION OF PARTICIPANTS, EQUIPMENT, INADEQUATE SAFETY EQUIPMENT, VEHICULAR TRAFFIC, ACTIONS OF OTHER PARTIES, FIXED OR MOVING OBJECTS, LACK OF HYDRATION, AND SUCH OTHER RISKS, DANGERS, AND HAZARDS THAT ARE INTEGRAL TO THE ACTIVITIES IN AN OUTDOOR OR RECREATIONAL ENVIRONMENT; AND
			</li>

			<li>
				THAT AS CONSIDERATION AND A STRICT CONDITION PRECEDENT TO MY PARTICIPATION IN THE ACTIVITIES, I, ON BEHALF OF MYSELF, MY PERSONAL REPRESENTATIVES AND MY HEIRS HEREBY VOLUNTARILY AGREE TO RELEASE, WAIVE, DISCHARGE, HOLD HARMLESS, DEFEND AND INDEMNIFY TRAILNETWORK, INC., AND ITS OWNERS, MANAGERS, MEMBERS, AGENTS, OFFICERS, EMPLOYEES OR AFFILIATES FROM ANY AND ALL CLAIMS, ACTIONS OR LOSSES FOR PERSONAL INJURY, PROPERTY DAMAGE, WRONGFUL DEATH, LOSS OF SERVICES OR ANY OTHER CLAIM OR CAUSE OF ACTION WHICH MAY ARISE OUT OF MY USE OF TRAILNETWORK’S WEBSITE OR OTHER SERVICES ARISING OUT OF OR RELATING TO THE ACTIVITIES.
			</li>

		</ol>

		<p>
			I SPECIFICALLY UNDERSTAND THAT AS CONSIDERATION AND AS A STRICT CONDITION PRECEDENT TO MY PARTICIPATION IN THE ACTIVITIES, I AM RELEASING, DISCHARGING, AND WAIVING ANY CLAIMS OR ACTIONS THAT I MAY HAVE PRESENTLY OR IN THE FUTURE FOR THE NEGLIGENT ACTS OR OTHER CONDUCT BY TRAILNETWORK AND ITS OWNERS, MANAGERS, MEMBERS, AGENTS, OFFICERS, EMPLOYEES OR AFFILIATES.
		</p>

		<p>
			THIS RELEASE SHALL BE GOVERNED BY AND INTERPRETED IN ACCORDANCE WITH THE LAWS OF THE STATE OF CALIFORNIA, AND IN THE EVENT THAT ANY CLAUSE OR PROVISION HEREIN SHALL BE HELD TO BE INVALID BY ANY COURT OF COMPETENT JURISDICTION, THE INVALIDITY OF SUCH CLAUSE OR PROVISION SHALL NOT OTHERWISE AFFECT THE REMAINING PROVISIONS OF THIS RELEASE WHICH SHALL CONTINUE TO BE ENFORCEABLE. I HEREBY AGREE THAT ANY CLAIM FOR DAMAGE OR INJURY ARISING OUT OF OR RELATING TO THE ACTIVITIES AND TRAILNETWORK’S WEBSITE OR OTHER SERVICES (“CLAIM”), NOT OTHERWISE BARRED BY THIS RELEASE, MUST BE COMMENCED BY FILING A COMPLAINT IN EITHER SAN FRANCISCO COUNTY SUPERIOR COURT OR THE UNITED STATES DISTRICT COURT FOR THE NORTHER DISTRICT OF CALIFORNIA NO LATER THAN 120 DAYS AFTER THE CLAIM ARISES, OR ELSE THE CLAIM IS FOREVER BARRED. THE EXCLUSIVE JURISDICTION FOR ANY SUCH CLAIM IS IN THE STATE AND FEDERAL COURTS LOCATED IN SAN FRANCISCO COUNTY, AND I CONSENT TO PERSONAL JURISDICTION IN THOSE COURTS.
		</p>

		<p>
			I HAVE READ THE ABOVE RELEASE AND BY USING THIS WEBSITE AGREE TO ITS TERMS.
		</p>

		<h1>Disclaimer of Warranties</h1>

		<p>
			OUR WEBSITE OR OTHER SERVICES AND ANY THIRD-PARTY SOFTWARE, SERVICES, OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE WEBSITE OR OUR SERVICES ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. WE AND OUR AFFILIATES, OFFICERS, MANAGERS, MEMBERS, EMPLOYEES, AGENTS, PARTNERS, LICENSORS, AND SUPPLIERS (COLLECTIVELY, THE “PARTIES”), DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND TITLE AND NON-INFRINGEMENT.
		</p>

		<p>
			THE PARTIES MAKE NO WARRANTY THAT THE WEBSITE OR OUR OTHER SERVICES WILL MEET YOUR REQUIREMENTS, THAT THEY WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE WEBSITE OR OUR SERVICES WILL BE ACCURATE OR RELIABLE, THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE WEBSITE OR OUR SERVICES WILL MEET YOUR EXPECTATIONS, AND ANY ERRORS IN THE WEBSITE OR IN OUR SERVICES WILL BE CORRECTED, TIMELY OR OTHERWISE.
		</p>

		<p>
			THE PARTIES DISCLAIM ANY RESPONSIBILITY FOR THE DELETION, FAILURE TO STORE, MISDELIVERY, OR UNTIMELY DELIVERY OF ANY AND ALL INFORMATION OR MATERIAL, INCLUDING USER CONTENT.
		</p>

		<p>
			YOU UNDERSTAND AND AGREE THAT WHEN YOU DOWNLOAD OR OTHERWISE OBTAIN MATERIAL OR DATA VIA THE WEBSITE OR THROUGH OUR OTHER SERVICES, YOU DO SO AT YOUR OWN DISCRETION AND RISK. THE PARTIES DISCLAIM ANY RESPONSIBILITY FOR ANY HARM TO YOU THAT RESULTS FROM DOWNLOADING OR ACCESSING ANY INFORMATION OR MATERIAL THROUGH THE WEBSITE.
		</p>

		<p>
			CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF OUR DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU.
		</p>

		<h1>Indemnification</h1>

		<p>
			YOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS TRAILNETWORK, ITS AFFILIATES, ITS CONTRACTORS, AND ITS LICENSORS, AND THEIR RESPECTIVE DIRECTORS, OFFICERS, MANAGERS, MEMBERS, EMPLOYEES AND AGENTS FROM AND AGAINST ANY AND ALL CLAIMS AND EXPENSES, INCLUDING ATTORNEYS’ FEES, ARISING OUT OF YOUR USE OF THE WEBSITE OR OUR SERVICES, INCLUDING BUT NOT LIMITED TO YOUR BREACH OF OUR TERMS OR PRIVACY POLICY, THE USER CONTENT YOU SHARE THROUGH OUR WEBSITE OR OUR OTHER SERVICES, YOUR ATHLETIC ACTIVITIES WHICH GENERATE THE USER CONTENT YOU SHARE OR SEEK TO SHARE THROUGH OUR WEBSITE OR OTHER SERVICES (INCLUDING, BUT NOT LIMITED TO, ATHLETIC ACTIVITIES IN CONNECTION WITH ANY CONTESTS, RACES, GROUP ACTIVITIES, OR OTHER EVENTS WHICH WE MAY SPONSOR, ORGANIZE, PARTICIPATE IN, OR WHERE THE SERVICES ARE EMPLOYED), YOUR CONNECTION TO THE SERVICES, YOUR USE OR MISUSE OF ANY USER’S PERSONAL INFORMATION AND LOCATION INFORMATION, ANY VIOLATION OF THE RIGHTS OF ANY OTHER PERSON OR ENTITY BY YOU, OR YOUR EMPLOYMENT OF THE SERVICES TO MEET ANOTHER USER IN-PERSON OR TO LOCATE AND ATTEND ANY OFFLINE PLACE OR EVENT. WE RESERVE THE RIGHT, AT YOUR EXPENSE, TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER FOR WHICH YOU ARE REQUIRED TO INDEMNIFY US UNDER THE TERMS, AND YOU AGREE TO COOPERATE WITH OUR DEFENSE OF THESE CLAIMS.
		</p>

		<h1>Limitation of Liability</h1>

		<p>
			YOU ACKNOWLEDGE AND AGREE THAT UNDER NO CIRCUMSTANCES, INCLUDING, WITHOUT LIMITATION, NEGLIGENCE, WILL ANY OF THE PARTIES OR SUPPLIERS BE LIABLE TO YOU FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, RELIANCE, CONSEQUENTIAL, OR EXEMPLARY DAMAGES RELATED TO OR RESULTING FROM THE USE, DISCLOSURE, DISPLAY, OR MAINTENANCE OF A USER’S PERSONAL INFORMATION AND/OR LOCATION INFORMATION, YOUR USE OF THE WEBSITE OR OUR OTHER SERVICES, OR THE ABILITY OR INABILITY TO USE THE WEBSITE OR OUR OTHER SERVICES, THE WEBSITE OR OUR OTHER SERVICES GENERALLY, INCLUDING THE NETWORKS AND SYSTEMS THAT MAKE THE WEBSITE OR OUR OTHER SERVICES AVAILABLE, OR ANY OTHER INTERACTIONS WITH US OR ANY OTHER USER OF THE WEBSITE OR OUR SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS LIMITATION WILL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE WEBSITE OR THROUGH OUR OTHER SERVICES OR RECEIVED THROUGH ANY LINKS PROVIDED THROUGH THE WEBSITE OR OUR OTHER SERVICES, AS WELL AS BY REASON OF ANY INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED ON THE SERVICES OR RECEIVED THROUGH ANY LINKS PROVIDED IN CONNECTION WITH THE SERVICES. THIS LIMITATION ALSO APPLIES, WITHOUT LIMITATION, TO THE COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, OR LOST DATA. SUCH LIMITATION FURTHER APPLIES WITH RESPECT TO THE PERFORMANCE OR NON-PERFORMANCE OF THE SERVICES OR ANY INFORMATION OR MERCHANDISE THAT APPEARS ON, OR IS LINKED OR RELATED IN ANY WAY TO OUR WEBSITE OR OUR OTHER SERVICES. SUCH LIMITATION APPLIES NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW.
		</p>

		<p>
			WITHOUT LIMITING THE FOREGOING, UNDER NO CIRCUMSTANCES WILL ANY OF THE PARTIES BE HELD LIABLE FOR ANY DELAY OR FAILURE IN PERFORMANCE RESULTING DIRECTLY OR INDIRECTLY FROM ACTS OF NATURE, FORCES, OR CAUSES BEYOND THEIR REASONABLE CONTROL, INCLUDING, WITHOUT LIMITATION, INTERNET FAILURES, COMPUTER EQUIPMENT OR SECURITY FAILURES, TELECOMMUNICATION EQUIPMENT FAILURES, OTHER EQUIPMENT FAILURES, HACKING, ELECTRICAL POWER FAILURES, STRIKES, LABOR DISPUTES, RIOTS, INSURRECTIONS, CIVIL DISTURBANCES, SHORTAGES OF LABOR OR MATERIALS, FIRES, FLOODS, STORMS, EXPLOSIONS, ACTS OF GOD, WAR, GOVERNMENTAL ACTIONS, ORDERS OF DOMESTIC OR FOREIGN COURTS OR TRIBUNALS, NON-PERFORMANCE OF THIRD PARTIES, OR LOSS OF OR FLUCTUATIONS IN HEAT, LIGHT, OR AIR CONDITIONING.
		</p>

		<p>
			IN NO EVENT WILL ANY OF THE PARTIES’ OR SUPPLIERS’ TOTAL LIABILITY (IN THE AGGREGATE) TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR EMPLOYMENT OF THE SERVICES WHETHER IN CONTRACT, TORT (INCLUDING, WITHOUT LIMITATION, NEGLIGENCE), WARRANTY, OR OTHERWISE EXCEED THE AMOUNTS PAID BY YOU FOR ACCESSING THE SERVICES DURING THE TWELVE (12) MONTHS IMMEDIATELY PRECEDING THE DATE OF YOUR CLAIM OR ONE THOUSAND DOLLARS ($1000.00), WHICHEVER IS LESS.
		</p>

		<p>
			YOU FURTHER AGREE THAT THE LIMITATIONS OF LIABILITY SET FORTH ABOVE WILL SURVIVE ANY TERMINATION OR EXPIRATION OF THESE TERMS AND WILL APPLY EVEN IF ANY LIMITED REMEDY SPECIFIED HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, THE EXCLUSIONS, AND LIMITATIONS SET FORTH ABOVE MAY NOT APPLY IN THEIR ENTIRETY TO YOU. YOU AGREE, HOWEVER, THAT OUR LIABILITY WILL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
		</p>

		<h1>Miscellaneous</h1>

		<p>
			This Agreement constitutes the entire agreement between TrailNetwork and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of TrailNetwork, or by the posting by TrailNetwork, Inc. of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of California, excluding its conflict of law provisions. By using our Services, you agree to the personal jurisdiction of, and venue in, the state courts of Alameda County, and the federal courts located in the Northern District of California.
		</p>

		<p>
			The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions. TrailNetwork, Inc. may assign its rights under this Agreement, and delegate its duties, without condition. This Agreement will be binding upon and will inure to the benefit of the parties, and their successors and assigns.
		</p>

		<p>
			By using the mapping features of our Website, you agree to be bound by <a href="https://developers.google.com/maps/terms">Google's Terms of Use</a> and are incorporated herein by this reference.
		</p>


	</div>

	<tn-compact-footer></tn-compact-footer>