<tn-header></tn-header>

<div class="terms">
<p class="display1">TrailNetwork, Inc.<br/>
Privacy Policy</p>
<p class="body">Last Updated: February 5, 2015</p>

<p>
	TrailNetwork, Inc., a California corporation (“TrailNetwork”, “us”, “our”, “we”) takes your privacy very seriously. We will not share your personal information with others, except as described in this Privacy Policy. Please read the following to learn more about our privacy policy. We reserve the right to change the provisions of this Policy at any time, and without any prior notice to our users. We will alert you that changes have been made by indicating on the Policy the date it was last updated. It is incumbent on you to to review this Policy from time to time to make sure that you understand how any personal information you provide will be used, and to verify when our Policy was last updated (because it is the most recent version which will apply to you and your contractual relationship with TrailNetwork. Please review our Terms as well. Capitalized words in this Policy are defined in our Terms.
</p>

<h1>Why We Have Posted this Privacy Policy and What it Covers</h1>

<p>
	We have posted this Privacy Policy to let you know what kind of information we collect when you interact with the Services or our Affiliates, the purposes for which we collect and use your information, how it is handled, with whom it may be shared, and what choices you have regarding our use of your information. Any capitalized but undefined terms used in this Privacy Policy have the same meaning as when used in our Terms of Service (“Terms”).
</p>

<p>
	This Policy covers how we treat your personal and other information we collect and receive with respect to your use of our website directly (located at <a href="http://www.trailnetwork.com">www.trailnetwork.com</a> - the "Site"), or by using our Services directly or through an Affiliate’s website or Application (the "Services"). This Privacy Policy applies to all personal information and location information we collect or acquire about you through the Services and through any other media channels and platforms, whether online, offline, print, telephonic, mobile, wireless, or otherwise, whether collected or acquired directly by us or through an Affiliate. Personal information is information about you that is personally identifiable like your name, address, email address, or phone number, and other information about you when it is directly linked to personally identifiable information. Personal information does not include "aggregate" information, which includes data we collect about the use of the Site or about a group or category of products, services or users, or GPS track logs, from which individual identities or other personal information has been removed. This policy does not apply to aggregate information, to the practices of companies (even Affiliates) that TrailNetwork does not own or control, or to employees, contractors or others that we do not manage or control.
</p>

<h1>Information we Collect</h1>

<p>
	We collect information about you when you register to use our Services, use our Services, connect your social media account to our Services directly or through an Affiliate, or communicate with us. You can choose not to provide certain information or opt out of some automated collection of your information, but then you may not be able to take advantage of certain features or Services. By using our Services, you grant us permission to process your personal information in accordance with the provisions of this Privacy Statement.
</p>

<h2>Personal Information</h2>
<p>
	Personal Information is information that identifies you as an individual. Personal Information may include, but is not limited to, the following, depending upon the circumstances (if and when enabled):
</p>
<ul>
	<li>Your name.</li>
	<li>Your address.</li>
	<li>Your phone number.</li>
	<li>Your email address.</li>
	<li>Your profile picture.</li>
	<li>Your credit card or other payment information.</li>
	<li>Any other personally identifiable information you share through your use of our Services directly or through an Affiliate.</li>
</ul>

<p>
	The Personal Information we collect may come from information you provide to us (for example, we may ask for personal information when you create an account, sign up for a newsletter, participate in promotional activities, or communicate with us), or that you authorize us to obtain.
</p>

<h2>Payment Method Information</h2>

<p>
	For certain Services, we may request (either directly, or indirectly through a third party such as Google®, PayPal® or Amazon®) that you furnish certain financial information, including but not limited to, credit card or other payment account information. Such Personal Information will only be used to facilitate the provision of Services you have requested.
</p>

<h2>Other Information</h2>

<p>
	It is understood and agreed that we may use and disclose Other Information for any purpose, except where we are required to do otherwise under applicable law. If we are required to treat Other Information as Personal Information under applicable law, then we may use it as described in the Personal Information section above, as well as for all the purposes for which we use and disclose Personal information. In some instances, we may combine Other Information with Personal Information. If we combine any Other Information with Personal Information, the combined information will be treated by us as Personal Information as long as it is combined. Please see “How we Use Other Information”, below.
<p>

<p>
	Other Information refers to any information which is not Personal Information (i.e., that does not reveal your specific identity or does not directly relate to an individual). Other Information may include, but is not necessarily limited to (all of which are discussed in more detail, further below):
</p>

<ul>
	<li>Browser and device information.</li>
	<li>Details about how you use our Service.</li>
	<li>Location information</li>
	<li>App usage data.</li>
	<li>Information collected through cookies, pixel tags and other technologies.</li>
	<li>Demographic information and other information provided by you.</li>
	<li>Aggregated information.</li>
	<li>GPS Tracklogs.</li>
</ul>

<h3>Device Information</h3>

<p>
	We collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number).
</p>

<h3>Server Log Information</h3>

<p>
	We and our Affiliates use server log information for purposes such as calculating site usage levels, helping diagnose problems with servers and administering our websites. These server logs may include information such as your Internet Protocol (IP) address, browser type, browser language, the date and time of your request, the time(s) of your visit(s) and the web page(s) that you visited. We treat IP Addresses, server log files, and related information as Other Information, except where we are required to do otherwise under applicable laws.
</p>

<h3>Location Information</h3>

<p>
	If you elect to provide or make available GPS track logs activity then the track logs may be connected to your public profile, which may contain Personal Information. You may, however, elect to opt out or mark your track log data “private” in which case it will be hidden from your public profile. In either event, we use GPS track logs information in aggregated form that is not personally identifiable in order to provide our Services.
</p>

<h3>Cookies and Anonymous Identifiers</h3>

<p>
	We may use cookies, pixel tags, web beacons, clear GIF’s or other similar tools on our Site or in our email messages.
</p>

<p>
	A “cookie” is a small data file stored by your web browser on your computer’s hard drive. It allows us to recognize your computer (but not specifically who is using it) when you visit one of the Services by associating the identification numbers in the cookie with other user information you have provided us. That user information is stored on our secured database. Some cookies will remain on the hard drive of your computer or mobile device for the duration of your browsing session, while others will remain for longer periods of time or will remain unless and until deleted by you. You may be able to configure your browser to accept or reject all or some cookies (other than Flash cookies) or notify you when a cookie is set. Each browser is different, so please check the “Help” menu of your browser to learn how to change your cookie preferences. Please note that some of our Services or features may not function properly or at all if cookies are disabled or blocked. Some third party service providers may use “Flash cookies,” also known as Local Shared Objects or LSOs. Flash cookies are saved on your computer in the same way as other cookies, but they cannot be rejected, disabled, turned off, opted out of, or deleted in the same way as regular cookies. For information on how to manage and remove Flash cookies, please visit: <a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html</a> or <a href="https://epic.org/privacy/cookies/flash.html">https://epic.org/privacy/cookies/flash.html</a>.
</p>

<p>
	“Pixel tags” (also known as “tracking pixels” or “web beacons”) are small graphic files that allow us to monitor the use of our Services. The use of pixel tags is industry standard technology used by most major web sites. A pixel tag can collect information such as the IP (Internet Protocol) address of the computer that downloaded the page on which the tag appears; the URL (Uniform Resource Locator) of the page on which the pixel tag appears; the time the page containing the pixel tag was viewed; the type of browser that fetched the pixel tag; and the identification number of any cookie on the computer previously placed by that server. One of the ways in which we use pixel tags is through a third-party service provider to serve ads on our behalf across the Internet. They may collect anonymous (other than your IP address) information about your visits to and interaction with our Services. They may also use this information about your visits to the Services and other websites and applications to target advertisements for goods and services. If you would like more information about online marketing practices and to know your choices about not having this information used by our third party service providers, please seee <a href="http://www.networkadvertising.org/choices">http://www.networkadvertising.org/choices</a> .
</p>

<p>
	These technologies help us keep track of your movements within our site and between us and Affiliates, measure the effectiveness of advertisements, and compile aggregate statistics about site usage and response rates. They also help you to more smoothly navigate our websites. We may also gather information such as your web requests, Internet Protocol address, browser type, browser language, the date and time of your request, referring/exit pages and URLs, platform type, number of clicks, domain names, landing pages, pages viewed and the order of those pages, cookies that may uniquely identify your browser, and elements employed in the mobile Applications. In addition, we use Google Analytics as a method of tracking site statistics and user behavior on our site. We may also engage one or more third party service providers to serve online advertisements on our behalf. They may use a pixel tag to collect anonymous information about your visits to sites, and they may use that information to target advertisements for goods and services. We also use cookies and anonymous identifiers when you interact with Services we offer to our Affiliates, such as advertising services. This information is collected anonymously, in a manner that does not personally identify you. For more information regarding this practice and to opt-out of such collection and use of this information by our third party service providers, please see <a href="http://www.networkadvertising.org">http://www.networkadvertising.org</a>.
</p>

<p>
	If you do not want information collected through the use of these technologies there is a simple procedure in most browsers that allows you to automatically decline many of these technologies, or to be given the choice of declining or accepting them. In addition, if you reside in a jurisdiction that requires us to obtain your consent to use these technologies on our sites then you will have an opportunity to manage your cookie preferences on the site; except that certain cookies are required to enable core site functionality and you cannot choose to disable those cookies.
</p>

<h3>Aggregated Information.</h3>

<p>
	To better serve our users and improve our Services, we may conduct research on demographics, interests, and behavior based on Personal Information and Other Information provided via the Services. This research may be compiled and analyzed on an aggregate basis, and we may share this aggregated information with our Affiliates, agents, and business partners. This aggregate information does not identify you personally. We may also disclose aggregated information in order to describe our services to current and prospective business partners and to other third parties for other lawful purposes.
</p>

<h3>Social Media Features and Widgets</h3>

<p>
	Certain of our Services may include social media features, such as the Facebook®  Like button and widgets, (interactive mini-programs that run on sites). These features may collect your IP address, which page you are visiting on our site, and they might set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on our sites. Your interactions with these features are governed by the privacy statement of the company providing the feature. Please note that we are not responsible for the collection, usage and disclosure policies and practices (including the data security practices) of other organizations, such as Facebook® , Apple® , Google® , Microsoft®  or any other app, social media platform or wireless service provider.
</p>

<h1>How we use the Information we Collect</h1>

<p>
	We use the information we collect to provide services to you, maintain, protect, and improve our Services. We may also use the information in the following ways:
</p>

<ul>
	<li>To communicate with you, such as to provide you with the products and services you request, to communicate with you about your account or transactions with us, to give you important information about your products or applications, and send you offers and promotions for our products and applications.</li>
	<li>Operating, maintaining, and providing you all of the features of our Services, including the display of customized content and advertising.</li>
	<li>Providing the basic functionality of the mobile Applications, such as displaying your live location and movement.</li>
	<li>Employing "reverse geo-coding" and your IP address or saved location information to provide you with specialized map, route and event content.</li>
	<li>Contacting you to deliver special offers, promotions, or other information.</li>
	<li>Auditing, research, and analysis in order to maintain, protect, and enhance our Services.</li>
	<li>Ensuring the functionality and usability of the Services.</li>
	<li>Creating user profiles that permit us to better understand what information a given user of our Services might like to receive from us.</li>
	<li>Providing you with information and notices related to the Services.</li>
	<li>Inviting you to participate in surveys conducted by us and/or our Affiliates.</li>
	<li>Developing new products and services.</li>
	<li>Improving our marketing and promotional efforts</li>
</ul>

<h2>Email Communications</h2>

<p>
	To improve our email communications, we may receive a confirmation when you open email messages from the Services, if your computer supports such capabilities. We also compare our users list to lists received from other companies in an effort to avoid sending unnecessary messages to our users.

</p>

<h2>How can you Opt Out of Receiving Communications From Us?</h2>

<p>
	If you no longer wish to receive email updates from us, you can unsubscribe by clicking on the link “Unsubscribe” at the bottom of any email message from us. Or, you can inform us by sending an email to <a href="mailto:support@trailnetwork.com">support@trailnetwork.com</a> indicating that you wish to opt out of communications per our privacy policy.
</p>

<h2>Use of Information Through an API</h2>

<p>
	In providing Services, we rely on and use software applications, websites, products, or services that are developed or employed by us directly or indirectly via a third party application that employs an application programming interface (or, “API”)  in order to access the features, functionality, content or data available through the interface. Your information may be used by such software applications, websites, products, or services through the API, to facilitate the provision of our Services.
</p>

<h1>How We Protect Visitor Information</h1>

<p>
	Information about our and our Affiliates’ users is an important part of our business, and we do not sell it to others. We share user information only as described below. Your Personal Information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
</p>

<h2>With Your Consent</h2>
<p>
	We may share your Personal Information and/or location information where you have consented to the disclosure. Other than as described in this Privacy Policy, you will receive notice when information about you might go to third parties, and will have an opportunity to choose that the information not be shared.
</p>

<h2>With Third Party Service Providers</h2>
<p>
	We may share any information we receive with vendors and service providers retained in connection with the provision of our Services, including our Affiliates. We may share aggregated, non-Personal Information publicly and with our partners and Affiliates – like publishers, advertisers or connected sites. For example, we may share information publicly to show trends about the general use of our Services.
</p>

<h2>For Legal Reasons</h2>
<p>
	We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Terms and other agreements; or protect the rights, property or safety of our company, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.
</p>

<h2>Merger, Acquisition, Sale, or Transfer of Assets or Business</h2>
<p>
	If we are acquired by or merged with or into another entity, or if our assets or business is sold or transferred to another entity, your Personal Information may be transferred to such entity as part of the transaction, and that entity and its affiliates may use your Personal Information under the terms of their own privacy policies which may differ from this Privacy Policy.
</p>

<h1>Third Party Links, Third Party Privacy Policies</h1>
<p>
	Our Site may contain links to third party sites that are not operated by us. These third party sites have separate and independent privacy policies. If you provide any Personal Information through any third-party sites, services, or applications, your transaction will occur on the third party's site, service, and/or application and the information you provide will be collected by, and controlled by, the privacy policies of that third party. We therefore have no responsibility or liability for the content and activities of these linked sites. We recommend you review the privacy statement of any third parties.
</p>

<h2>Google Maps</h2>
<p>
	Our Site and Services utilize the Google Maps®  API and Google Places®  API to provides mapping services to you. By use of our website, you aknowledge and agree that your use of the mapping service is governed by the <a href="https://www.google.com/intl/en/policies/privacy">Google Maps® /Google Earth®  Privacy Policy</a>,which is incorporated herein by this reference as amended by Google® from time to time.
</p>

<h1>Promotions</h1>
<p>
	If you enter into a sweepstakes, contest or similar promotion, we may use the information you provide to administer those promotions. To the extent that the terms and conditions of any such promotion regarding the treatment of Personal Information about you conflict with this Privacy Policy, the terms and conditions of the promotion will control.
</p>

<h1>Marketing Correspondence</h1>
<p>
	We will not share your Personal Information with third parties (other than our affiliates) for any third party marketing purpose unless you opt-in if and when we give you the opportunity to do so. We and our Affiliates may use your Personal Information to send you marketing-related correspondence (including emails) related to our or our Affiliates’ products, services or applications unless you opt-out of receiving them. To opt-out of receiving marketing-related correspondence from us and our Affiliates, or to withdraw your previously given consent for us to share Personal Information about you with third parties for the third parties' marketing purposes, please email us at <a href="mailto:support@trailnetwork.com">support@trailnetwork.com</a>. Please tell us whether you are opting out of receiving marketing-related correspondence from us and our Affiliates and/or withdrawing your previously given consent to share Personal Information about you with third parties for their marketing purposes.
</p>

<h1>User Posted Content</h1>
<p>
	We may make information posted by users of our Site or Services available through certain of our Services (for example, message boards, forums, chat functionality and blogs, among other services) to which you are able to post information and/r other materials. Please note that any information you disclose through such Services or otherwise on our Site or through our Services may become public information, and may be available to visitors to the Site or through our Services, and to the general public. We urge you to exercise discretion and caution when deciding to disclose Personal Information, or any other information, on our Site or through our Services. WE ARE NOT RESPONSIBLE FOR THE USE OF ANY PERSONAL INFORMATION YOU VOLUNTARILY DISCLOSE THROUGH THE SITE OR THROUGH OUR SERVICES.
</p>

<!-- <h1>U.S.-EU Safe Harbor Certification</h1>
<p>
	TrailNetwork complies with the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland. TrailNetwork, Inc. has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. To learn more about the Safe Harbor program please visit <a href="http://www.export.gov/safeharbor">http://www.export.gov/safeharbor</a>.
</p>
<p>
	In compliance with the US-EU and US-Swiss Safe Harbor Principles,we commit to resolve complaints about your privacy and our collection or use of your Personal Information. European Union or Swiss citizens with inquiries or complaints regarding this Privacy Policy should first contact TrailNetwork at:
</p>

<p>
	4148 Denker Drive<br/>
	Pleasanton, CA 94588<br/>
	Tel: +1-925-400-8012<br/>
	Email: <a href="mailto:support@trailnetwork.com">support@trailnetwork.com</a>
</p> -->

<h1>Use of Websites, Products and Applications by Children</h1>
<p>
	Our Services are not directed to individuals under the age of 13, and we request that individuals under 13 not provide Personal Information to us through our Site or through our Services. If we learn that we have collected the Personal Information of a child under 13, we will take steps to delete the information as soon as possible.
</p>

<h1>DISCLAIMER OF WARRANTIES</h1>

<p>
	YOUR USE OF OUR SITE OR SERVICES IS AT YOUR SOLE RISK.  THE SITE AND OUR SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.  TRAILNETWORK EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR ANY PURPOSE, EVEN IF WE ARE APPRISED OF SUCH A PURPOSE. NOT LIMITING THE FOREGOING, TRAILNETWORK MAKES NO WARRANTY THAT (i) THE SITE OR SERVICES WILL MEET YOUR REQUIREMENTS, (ii) THE SITE OR SERVICES WILL OPERATE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, AND/OR THAT (iii) ANY ERRORS IN THE SITE OR SERVICES WILL BE CORRECTED. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH OUR SITE OR SERVICES IS OBTAINED AT YOUR OWN DISCRETION AND RISK.  YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM/NETWORK OR ANY LOSS OF DATA THAT MAY RESULT FROM THE DOWNLOAD OF ANY SUCH MATERIAL OR THE USE OF OUR SITE OR SERVICES.
</p>

<h1>LIMITATION OF LIABILITY</h1>

<p>
	YOU AGREE THAT TRAILNETWORK SHALL HAVE NO LIABILITY ARISING FROM OR BASED ON YOUR USE OF OUR SITE OR SERVICES, REGARDLESS OF WHETHER ANY REMEDY SET FORTH HEREIN FAILS OF ITS ESSENTIAL PURPOSE OR OTHERWISE, IN NO EVENT SHALL TRAILNETWORK OR ITS PARENT CORPORATION, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, SHAREHOLDERS, AGENTS, EMPLOYEES AND SUPPLIERS BE LIABLE TO YOU OR TO ANY THIRD PARTY UNDER ANY TORT, CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY FOR ANY LOST PROFITS, LOST OR CORRUPTED DATA, COMPUTER FAILURE OR MALFUNCTION, INTERRUPTION OF BUSINESS, OR OTHER DIRECT SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF THE USE OR INABILITY TO USE OUR SITE OR SERVICES, EVEN IF TRAILNETWORK HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES AND WHETHER OR NOT SUCH LOSS OR DAMAGES ARE FORESEEABLE. NOTWITHSTANDING THE FOREGOING, TRAILNETWORK'S MAXIMUM LIABILITY SHALL NOT, IN ANY EVENT, EXCEED THE PRICE PAID BY YOU TO TRAILNETWORK HEREUNDER, IF ANY. IN THE EVENT THAT ANY OF THE FOREGOING IS NOT ENFORCEABLE, TRAILNETWORK'S AGGREGATE LIABILITY UNDER YOUR AGREEMENT WITH TRAILNETWORK WITH RESPECT TO ITS SITE OR SERVICES IS LIMITED TO ONE HUNDRED DOLLARS ($100.00).
</p>


<h1>Changes</h1>

<p>
	We may update this Privacy Policy from time to time without prior notice. You can determine when this Privacy Policy was last revised by referring to the “Last Updated” legend at the top of this page. Any changes to our statement will become effective upon posting of the updated Privacy Policy. We encourage you to periodically review our Privacy Statement to ensure familiarity with the most current version of it. Continued use of our Service constitutes consent to any new versions of our Privacy Policy. We will also keep prior versions of this Privacy Policy in an archive for your review.
</p>

</div>

<tn-compact-footer></tn-compact-footer>