<div class="card">
	<div class="trailhead-card banner">
		<p ng-bind="text"></p>
		<span type="button" class="icon-cancel grey1 hover-effects banner-close pull-right" ng-click="close()"></span>
	</div>
</div>