<div class="entity-detail" ng-show="trailhead">
    <div>

        <hr/>

        <p>
            <span ng-bind-html="trailhead.description.complete"></span>
        </p>

        <div class="well debug" ng-if="debug">
            <p>Score: {{trailhead.score}}</p>
        </div>
    </div>
</div>