.tn {
	.activity-types {
		white-space: nowrap;
		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				display: inline-block;
				margin: 0;
				margin-right: $baseline-grid;
			}
		}
	}

	tn-activity-type {
		display: inline-block;
	}
}