.tn {

	tn-application-display, tn-application-link {

		.application-display {
			img{
				height: $icon-size-normal;
				//margin-right: $spacing-unit;
			}
		}

		&.medium {
			img {
				height: $icon-size-medium;
			}
		}

		&.small {
			img {
				height: $icon-size-small;
			}
		}
	}
}