
//.autocomplete .highlight {
  //background-color: #E2E2E2;
//}

//.autocomplete li.active .highlight {
  //background: #666;
  //color: #fff;
//}


tags-input *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

tags-input {
  .host {
    display: inline-block;
    min-width: 30%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;

    &:active {
      outline: none;
    }

  }
  .tags {
    display: inline-block;
    width:100%;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    //overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: white;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;

    .tag-list {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .tag-item {
      background-color: $primary-light-color;
      border: 2px solid $primary-dark-color;
      padding: $baseline-grid;
      display: inline-block;
      //font-weight: bold;
      line-height: 1;
      color: $text-color;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      @include border-radius;
      //float: left;
      margin: 2px;

      // padding: 0 5px;
      // display: inline-block;
      // height: 26px;
      // line-height: 25px;
      // background: -webkit-linear-gradient(#f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
      // background: -o-linear-gradient(#f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
      // background: linear-gradient(#f0f9ff 0%, #cbebff 47%, #a1dbff 100%);

      // border-radius: 3px;
      // border: 1px solid #acacac;
      // font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;

      &.selected {
        background: -webkit-linear-gradient(#febbbb 0%, #fe9090 45%, #ff5c5c 100%);
        background: -o-linear-gradient(#febbbb 0%, #fe9090 45%, #ff5c5c 100%);
        background: linear-gradient(#febbbb 0%, #fe9090 45%, #ff5c5c 100%);
      }

      .remove-button {
        margin: 0 0 0 5px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        vertical-align: middle;
        font: bold 16px Arial, sans-serif;
        color: #585858;

        &:active {
          color: red;
        }
      }
    }

    .input {
      display:inline-block;
      border: 0;
      outline: none;
      margin: 2px;
      padding: 0;
      padding-left: 5px;
      //float: left;
      height: 26px;
      //font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;

      &.invalid-tag {
        color: red;
      }

      &::-ms-clear {
        display: none;
      }
    }
  }

  .ng-invalid {
    .tags {
      -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
      -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
      box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    }
  }

  .autocomplete {
    margin-top: 5px;
    position: absolute;
    //padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .suggestion-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .suggestion-item {
      padding: 5px 10px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: black;
      background-color: white;

      em {
        font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
        background-color: white;
      }

      &.selected {
        color: white;
        background-color: $primary-color;

        em {
          color: white;
          background-color: transparent;
          font-weight: bold;
        }
      }
    }
  }
}
