$tn-route-card-container-height: 133px;
$tn-route-card-height: 88px;
$tn-trailhead-card-height: 25px;
$tn-trailhead-card-banner-height: $tn-trailhead-card-height + $baseline-grid;
$tn-cardtray-card-width: 204px;
$card-padding: 4px;
$card-margin: 3px;
$card-z-index: 10;
$card-legend-width: $baseline-grid*4;

@import 'map-cardtray.scss';
@import 'trailhead-cardtray-banner.scss';
@import 'route-cards.scss';