$visits-list-padding: $spacing-unit*3;

tn-completions {
	display: block;
}

.completions {

	table {
		border: 1px solid $grey2;
	}

	.panel-heading {
		tn-activity-type-filter {
			position: absolute;
			right: $spacing-unit*3;
			top: $spacing-unit;
		}
	}

	.filter-container {
		border: 1px solid $grey2;
		border-bottom: none;
		padding: $spacing-unit;
		background-color: $background-base-color;

		tn-route-completions-filter {
			display: inline-block;
		}

		.dropdown-menu {
			height: 10em;
			overflow: auto
		}
	}

}

.completions-summary {
	@include flexbox();

	.completions-filter {
		@include flex(1);
	}

	.completions-route-summary {
		@include flex(1);
	}
}

.completions-filter {

	form {
		&>* {
			display: inline-block;
		}

		.form-control {
			width: auto;
		}
	}

	autocomplete {
		display: inline-block;
	}

	.tags {
		input {
			min-width: 15em;
		}
	}
}

.completions-list {
	table {
		border: none;
	}
}

.visits-list {

	ul {
		list-style-type: none;
	}

	li {
		border-bottom: 1px solid $grey2;
		padding-right: 0;
		display: flex;

		&:last-child {
			border-bottom: none;
		}

		&>div {
			position: relative;
		}
	}

	.list-right {
		//text-align: right;
	}

	.person {
		display: flex;
		flex: 0 0 60%;
		white-space: nowrap;
		overflow: hidden;
		padding-right: $visits-list-padding;

		a {
			display: block;
			font-size: 1.25em;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&>div {
			flex: 1 1 auto;
			display: inline-block;
			overflow: hidden;

			&:first-child {
				flex: 0 0 auto;
				padding-right: $visits-list-padding;
			}
		}

		.icon-person {
			font-size: 4em;
		}
	}

	.activity-type {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.icon-button {
			margin-top:-100%;
			margin-left:-100%;
		}

		.vertical-line {
			position: absolute;
			left:50%;
			border-left: 1px solid $grey1;
			top: 0;
			bottom: 0;
			margin-top: (-$visits-list-padding);
			margin-bottom: (-$visits-list-padding);
		}

		tn-activity-type {
			height: 3em;
			width: 3em;
			padding: $spacing-unit*2;
			border: 1px solid $grey1;
			border-radius: 2em;
			font-size: 1em;
			background-color: $background-base-color;
			z-index: 10;
		}
	}

	.values {
		&>* {
			display: inline-block;
			margin-right: $spacing-unit*3;
		}
	}


	.visit {
		display: flex;
		flex-direction: column;
		flex: 1 0 30%;
		color: $text-color-shaded;

		a {
			//color: $text-color-shaded;
		}

		&>div {
			flex: 1;
			padding: $spacing-unit;
			padding-left: $visits-list-padding;
			padding-right: $visits-list-padding;

			// &:first-child {
			// 	border-bottom: 1px solid $grey1;
			// }
		}
	}
}

.completions-more {
	color: $foreground-primary-color;
	text-align: center;
	display: block;
	padding: $spacing-unit;

	&:hover {
		text-decoration: none;
		background-color: $grey0;
		color: $orange;
	}

	.icon-chevron-down {
		font-size: 2em;
	}
}
