
.tn {

    .entity-detail {
        position: relative;
        display: block;
        width: 100%;

        .label {
            font-size: 0.75em;
            color: $grey2;
            padding: 0;
        }

        hr {
            margin-left: -$baseline-grid;
            margin-right: -$baseline-grid;
        }

        .chart {
            margin-top: $spacing-unit*2;
            min-height: 88px;
            position: relative;
        }

        .chart-controls {
            display: inline-block;
            margin-bottom:0;
            @include pointer;

            span {
                font-size: 0.75em;
                display:inline-block;
                text-align: right;
            }
        }

        .detail {
            hr {
                margin-right: $baseline-grid*2;
            }

            .minimize-controls {
                position: absolute;
                right:0;
                margin-top: -$baseline-grid/2;
            }
        }

        .entity-value {
            display: inline-block;
            min-width: 4em;
            margin-bottom: 0;

            .narrow-text {
                letter-spacing:-1px;
            }

            span {
                font-size: 0.75em;
                display: inline-block;
                text-align: right;
            }

            span:first-child {
                margin-right: 2px;
                min-width: 0;
                letter-spacing: normal;
            }

            [class^="icon-arrow"], [class*=" icon-arrow"] {
                font-size: 0.65em;
            }
        }
    }

    @media (min-width: $layout-breakpoint-sm) {
        .entity-detail{
            min-width: 250px;
            max-width: 350px;
            width: auto;
        }
    }

    @media (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-lg) {
        tn-route-detail {
         .entity-detail {
            max-height: 100px;
            overflow: hidden;

            &.expanded {
                max-height: none;

                &:after {
                    background: transparent;
                }
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 80px;
                background: linear-gradient(rgba(0,0,0,0), #fff);
                cursor: pointer;
            }
        }
    }
}

.entity-title {
    min-height: 26px;

    &>* {
        margin-right: $baseline-grid*2;

        &:last-child {
            margin-right: 0;
        }
    }

    &>span {
        display: inline-block;
        vertical-align:middle;
        font-size: 1.5em;
    }

    &>div {
        display: inline-block;
        vertical-align:middle;
        @include ellipsisNoWidth();
    }

    div.route {
        line-height: 1em;
    }
    tn-activity-types, tn-activity-type {
        flex-shrink: 0;
        vertical-align:middle;
    }

    &.entity-title-header, .entity-title-header {
        white-space: nowrap;
        overflow:hidden;

        &>* {
            margin-right: $baseline-grid*2;
        }

        div.route {
            vertical-align: middle;
            line-height: 1.25em;
            font-size: 1.25em;
            margin-right: 0;
            width: 100%;
        }
    }

    .subhead {
        color: $foreground-secondary-color;
    }
}

@media (min-width: $layout-breakpoint-sm) {
    .entity-title{
        .title {
            color: $foreground-primary-color;
        }

        &.entity-title-header {
            // &>* {
            //     margin-right: auto;
            // }

            div.route {
                margin-right: $spacing-unit*3;
            }
        }

        .icon-route {
            margin-right: $baseline-grid/2;
            float:left;
        }
    }
}

.mobile-page {
    .entity-title {
        .title {
            color: $foreground-primary-color;
        }
    }
}

}

.entity-toolbar {
    .icon-arrow-back, .icon-trailhead-large {
        margin-right: $baseline-grid;
    }

    .title {
        color: $background-primary-color;
    }
}


