.tn {
	.explore {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.explore-map {
			position: relative
		}

		.explore-cardtray {
			position: relative;
		}
	}

	tn-area-chart {
		display: block;
		position:relative;
		height: 50px;
	}
}
