$footer-padding: $baseline-grid*2;
$footer-text-color: $foreground-secondary-color;

.footer {
	height: $baseline-grid*2;
	font-size: 11px;
	color: $footer-text-color;
	padding-left: $footer-padding;
	padding-right: $footer-padding;
	&>* {
		margin-left: $footer-padding;
	}

	a {
		color: $footer-text-color;
	}
}