@font-face {
	font-family: 'trailnetwork';
	src:url('../fonts/tn.eot');
	src:url('../fonts/trailnetwork.eot') format('embedded-opentype'),
	url('../fonts/trailnetwork.woff') format('woff'),
	url('../fonts/trailnetwork.ttf') format('truetype'),
	url('../fonts/trailnetwork.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'trailnetwork';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: $icon-size-normal;
	flex-shrink: 0;
	color: $foreground-secondary-color;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.hover-effects {
		cursor: pointer;

		&:hover {
			color: $foreground-primary-color;
		}
	}

	&.icon-selected, &.orange, &.icon-secondary-color {
		color: $secondary-color;
	}

	&.white {
		color: $background-primary-color;

		&.hover-effects {
			&:hover {
				color: $white;
			}
		}
	}

	&.black {
		color: $black;
	}

	&.grey1, &.icon-active {
		color: $foreground-secondary-color;
	}

	&.grey2, &.icon-inactive {
		color: $foreground-tertiary-color;

		&.hover-effects:hover {
			color: $foreground-secondary-color;
		}
	}

	&.large {
		font-size: $icon-size-large;
		line-height: $icon-size-large;
	}

	&.medium {
		font-size: $icon-size-medium;
		line-height: $icon-size-medium;
	}

	&.small {
		font-size: $icon-size-small;
		line-height: $icon-size-small;
		//font-weight: bolder;
	}

	&.icon-button {
		width: $icon-size-normal*2;
		height: $icon-size-normal*2;
		padding: ($icon-button-size - $icon-size-normal)/2;
		min-width: $icon-size-normal*2;

		&:before {
			font-size: $icon-size-normal;
		}

	}
}

.icon-bike:before {
	content: "\e600";
}
.icon-mtb:before {
	content: "\e61c";
}
.icon-run:before {
	content: "\e601";
}
.icon-hike:before, .icon-walk:before {
	content: "\e602";
}
.icon-unknown:before {
	content: "?";
}
.icon-trailhead-large-1:before {
	content: "\e603";
}
.icon-trailhead-large-2:before {
	content: "\e604";
}
.icon-trailhead-large {
	/* child elements absolute */
	position: relative;
	display: inline-block;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	text-indent: -9999px;
	width: 1em;
	height: 1em;

	&:before, &:after {
		/* undo text hidden */
		text-indent: 0;
		position: absolute;
		top: 0;
		left: 0;

		display: block;
		white-space: normal;
	}

	&:before {
		content: "\e604";
		color: $trailnetwork-green-color;
	}

	&:after {
		content: "\e603";
		color: $black;
	}
}
.icon-trailhead-small-1:before {
	content: "\e605";
}
.icon-trailhead-small-2:before {
	content: "\e606";
}
.icon-route:before {
	content: "\e607";
}
.icon-chevron-left:before {
	content: "\e608";
}
.icon-chevron-right:before {
	content: "\e609";
}
.icon-chevron-up:before {
	content: "\e60a";
}
.icon-chevron-down:before {
	content: "\e60b";
}
.icon-settings:before {
	content: "\e60c";
}

.icon-person:before {
	content: "\e60d";
}

.icon-person-add:before {
	content: "\e60e";
}

.icon-people:before, .icon-group:before {
	content: "\e60f";
}

.icon-group-add:before {
	content: "\e610";
}
.icon-search:before {
	content: "\e611";
}
.icon-filter-list:before {
	content: "\e612";
}
.icon-refresh:before {
	content: "\e613";
}
.icon-cancel:before, .icon-clear:before {
	content: "\e614";
}
.icon-trending-down:before {
	content: "\e615";
}
.icon-elevation-gain:before, .icon-trending-up:before {
	content: "\e616";
}
.icon-terain-1:before {
	content: "\e617";
}
.icon-terain-2:before {
	content: "\e618";
}
.icon-terain-3:before {
	content: "\e619";
}
.icon-terain-4:before {
	content: "\e61a";
}
.icon-terain-5:before {
	content: "\e61b";
}
.icon-star:before {
	content: "\e61d";
}

.icon-star-half:before {
	content: "\e61e";
}

.icon-star-outline:before {
	content: "\e61f";
}

.icon-up-arrow:before {
	content: "\e620";
}

.icon-down-arrow:before {
	content: "\e621";
}
.icon-arrow-up:before {
	content: "\e620";
}
.icon-arrow-down:before {
	content: "\e621";
}
.icon-play:before {
	content: "\e622";
}
.icon-pause:before {
	content: "\e624";
}
.icon-stop:before {
	content: "\e623";
}
.icon-share:before {
	content: "\e625";
}
.icon-completions:before {
	content: "\e627";
}
.icon-event:before {
	content: "\e629";
}
.icon-info:before {
	content: "\e626";
}

.icon-place:before {
	content: "\e628";
}

.icon-arrow-drop-up:before {
	content: "\e62a";
}

.icon-arrow-drop-down:before {
	content: "\e62b";
}

.icon-more-vert:before {
	content: "\e62c";
}
.icon-mail:before {
	content: "\e62d";
}
.icon-googleplus:before {
	content: "\e62e";
}
.icon-facebook:before {
	content: "\e62f";
}
.icon-twitter:before {
	content: "\e630";
}
.icon-arrow-back:before {
	content: "\e631";
}
.icon-view-list:before {
	content: "\e632";
}
.icon-layers:before {
	content: "\e633";
}



[class^="st-icon-"] {
	font-family: "trailnetwork";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	/* screenreaders */
	speak: none;
	/* child elements absolute */
	position: relative;

	display: inline-block;
	vertical-align: top;
	white-space: nowrap;

	/* remove inline-block white-space */
  // margin-right: -.16em; /* 5px */
  /* if not already universally applied */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* padding here for text, icons replicate this using size and position:absolute - padding makes touch-target bigger */
  // padding: 0.143em;
  /* units used in font: 1em = 2048, icons 2400 wide, so icons are 1.171875em (2400/2048). Add padding x2 to get size: */
  // height: 1.45788em;
  // width: 1.45788em;
  // font-size: 1.815em;
  /* text hidden old-school */
  text-align: center;
  text-indent: -9999px; }

  /* position:absolute stacks pseudo elements - extra &lt;span> in markup = 2 extra pseudo elements */
  [class^="st-icon-"]:before,
  [class^="st-icon-"]:after,
  [class^="st-icon-"] span:before,
  [class^="st-icon-"] span:after {
  	/* undo text hidden */
  	text-indent: 0;
  	position: absolute;
  	/* match padding above */
  	top: 0;
  	left: 0;

  	display: block;
  	white-space: normal;
  }

  .st-icon-trailhead-large:before {
  	content: "\e604";
  	color: $trailnetwork-green-color;
  }

  .st-icon-trailhead-large:after {
  	content: "\e603";
  	color: $black;
  }
