$margin-top: 15px;
$leaflet-container-max-width: 350px;
$leaflet-container-min-width: 350px;
$leaflet-container-max-width-md: 300px;
$leaflet-container-min-width-md: 200px;
$leaflet-container-zindex: 10;

.tn {

	md-toolbar {
		&.leaflet-container {
			z-index: $z-index-backdrop;
		}
	}

	.leaflet-container {

		//phone size
		.leaflet {

		}
	}

	@media (min-width: $layout-breakpoint-sm) {
		.leaflet-container {
			.leaflet {
				box-shadow: $whiteframe-shadow-z2;
				z-index: $whiteframe-zindex-z1 + $leaflet-container-zindex;
				background-color: $white;

				margin: 0;
				margin-bottom: $baseline-grid;
				box-sizing: border-box;
				min-width: $leaflet-container-min-width;
				max-width: $leaflet-container-max-width;
				border-radius: $card-radius;
				overflow: hidden;

				&.leaflet-content, .leaflet-content {
					padding: $baseline-grid;
					transition: $swift-ease-out;
				}

				.leaflet-nopadding {
					margin: -$baseline-grid;
				}
			}
		}

		md-toolbar {
			&.leaflet-container {
				//overflow: hidden;
				display: block;
				position: fixed;
				margin: $margin-top 15px 15px 30px;
				left: 0;
				top:0;
				min-width: $leaflet-container-min-width;
				max-width: $leaflet-container-max-width;
				z-index: $leaflet-container-zindex;
				background-color: transparent;
				color: $foreground-primary-color;
				font-size: 1rem;

				.md-toolbar-tools {
					padding: 0;
					max-height: none;
					height: auto;
					min-height: none;
					flex-direction: column;

					@include anchor();
				}
			}
		}
	}

	//Needs to be below more general query (min-width:)
	@media (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-lg) {
		.leaflet-container {
			.leaflet {
				min-width: $leaflet-container-min-width-md;
				max-width: $leaflet-container-max-width-md;
				width: 100%;
			}
		}

		md-toolbar {
			&.leaflet-container {
				margin: $baseline-grid;
				min-width: $leaflet-container-min-width-md;
				max-width: $leaflet-container-max-width-md;
			}
		}
	}
}