$map-control-dropdown-menu-margin: $baseline-grid*2;
$map-control-dropdown-menu-padding: $baseline-grid*2;

@mixin map-control-dropdown-menu-list-border {
	border-top: 1px solid rgba(0,0,0,0.12);
}

tn-map {
	display: block;
	width: 100%;
	height:100%;

	.tn {
		width: 100%;
		height:100%;
		/* fix for flexbox issues. see http://stackoverflow.com/questions/15381172/css-flexbox-child-height-100 */
		position: absolute;
	}
}

.tn {
	.map {
		width: 100%;
		height: 100%;

		/* fix for Twitter Bootstrap handling of responsive images */
		img {
			max-width: inherit;
		}
	}

	.map-control {
		margin: $baseline-grid;
		margin-top: $map-control-dropdown-menu-margin;
		z-index: auto !important;
	}

	.map-control-dropdown-menu {
		position: absolute;
		right: $map-control-dropdown-menu-margin;
		top: 0;
		z-index: 1000;
		box-shadow: $whiteframe-shadow-z4;
		background-color: $primary-color-palette-contrast-color;
		overflow: hidden;
		min-width: 180px;
		@include border-radius();

		ul {
			list-style: none;

			& > li {
				position: relative;
			}
		}

		.md-actions {
			@include map-control-dropdown-menu-list-border;
			padding: $baseline-grid/2;
			botder-top: 1px solid rgba(0,0,0,0.12);

		}

		md-content {
			padding: $map-control-dropdown-menu-padding;
		}

		md-item-content {
			@include map-control-dropdown-menu-list-border;

			.item-title {
				line-height: 24px;
				white-space: nowrap;
				user-select: none;
			}
		}
	}

	.map-layer-menu {
		md-item-content {
			@include pointer();

			&:hover {
				background-color: $foreground-quarternary-color;
			}

			img {
				margin-left: $baseline-grid/2;
			}
		}
	}
}