@mixin cardtray-hover() {
    background-color: $highlight-light;
}

.tn {
    tn-map-card-tray {
        display: block;
        z-index: $card-z-index;
        width: 100%;
        background-color: $background-base-color;
        min-height: $icon-large-height;

        p {
            margin:0;
        }

        &.minimized {
            height: $baseline-grid*2;
        }

        .toggle {
            position: absolute;
            padding-right: $card-margin*2;
            right: 0;
            z-index: $card-z-index + 1;
        }

    }
}