/**
 * Mixins global to the tn app.
 *
 */

 @mixin anchor {
 	a {
 		color: $primary-color;
 		@include pointer;

 		&:hover {
 			color: $primary-dark-color;
 			text-decoration: underline;
 		}
 	}
 }

 @mixin border-radius {
 	border-radius: 2px;
 }

 @mixin center-vertically {
 	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
 }

 @mixin cubic-bezier($property, $time, $p1x, $p1y, $p2x, $p2y) {
 	-webkit-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
 	-moz-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
 	-ms-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
 	-o-transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
 	transition: $property $time cubic-bezier($p1x, $p1y, $p2x, $p2y);
 }

 @mixin panel {
 	@include border-radius;
 	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 	border: 1px solid transparent;
 	background-color: $background-base-color;
 	padding: $spacing-unit;
 }

 @mixin flexbox() {
	// display: -webkit-box;
	// display: -moz-box;
	// display: -ms-flexbox;
	// display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

@mixin flex-align-self($value) {
	-webkit-align-self: $value;
	-ms-flex-item-align: $value;
	align-self: $value;
}

@mixin flex-wrap($value) {
	-webkit-flex-wrap: $value;
	-ms-flex-wrap: $value;
	flex-wrap: $value;
}

@mixin ellipsisNoWidth() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

@mixin ellipsis($width) {
	@include ellipsisNoWidth();
	max-width: $width
}

@mixin pointer {
	cursor: pointer;
}

@mixin page-tron-bottom {
	border: 1px solid $grey2;
}

@mixin stats-extra-compact {
	&>* {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	h1 {
		font-size: 0.75em;
	}
}

/**
* Typography
*/
@mixin display1 {
	font-size: $text-display1-size;
	color: $foreground-secondary-color;
	line-height: $text-display2-leading;
	margin-bottom: $text-display2-leading;

	&.display1-invert {
		color: $background-secondary-color;
	}
}

@mixin headline {
	font-size: $text-headline-size;
	color: $foreground-primary-color;
	line-height: $text-headline-leading;
	margin-bottom: $text-headline-leading;

	&.headline-invert {
		color: $background-primary-color;
	}
}

@mixin title {
	font-size: $text-title-size;
	font-weight: 500;
	color: $foreground-primary-color;
	line-height: $text-title-leading;
	margin-bottom: $text-title-leading;
	letter-spacing: 0.005rem;

	&.title-invert {
		color: $background-primary-color;
	}
}

@mixin subhead {
	font-size: $text-subhead-size;
	color: $foreground-primary-color;
	line-height: $text-subhead-size;
	margin-bottom: $text-subhead-leading;
	letter-spacing: 0.01rem;

	&.subhead-invert {
		color: $background-primary-color;
	}
}

@mixin body2 {
	font-size: $text-body2-size;
	font-weight: 500;
	color: $foreground-primary-color;
	line-height: $text-body1-size;
	margin-bottom: $text-body2-leading;
	letter-spacing: 0.01rem;

	&.body2-invert {
		color: $background-primary-color;
	}
}

@mixin body1 {
	font-size: $text-body1-size;
	color: $foreground-primary-color;
	line-height: $text-body1-size;
	margin-bottom: $text-body1-leading;
	letter-spacing: 0.01rem;

	&.body1-invert {
		color: $background-primary-color;
	}
}

@mixin caption {
	font-size: 0.923076923rem;
	color: $foreground-secondary-color;
	white-space: nowrap;
	letter-spacing: 0.02rem;

	&.caption-invert {
		color: $background-secondary-color;
	}
}

@mixin button {
	font-size: 1.076923077rem;
	font-weight: 500;
	color: $foreground-primary-color;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.01rem;

	&.button-invert {
		color: $background-primary-color;
	}
}