.tn {
	&.notification-container {
		position: fixed;
		bottom: 170px;
		margin-left: 50%;
		margin-right: 50%;
		z-index: 10;
	}

	.notification {
		position: relative;
		@include panel;
		margin-left: -50%;
		padding: $spacing-unit;
		min-width: 15em;
		@include cubic-bezier(opacity, 600ms, 0.48, 0, 0.52,1);
		background-color: $secondary-light-color;

		&.reveal {
			opacity: 1;
		}

		&.conceal {
			opacity: 0;
		}

		p {
			text-align: center;
			margin: 0;
		}
	}
}