.tn {
	.list-bottom-more {
		color: $foreground-primary-color;
		text-align: center;
		display: block;
		padding: $spacing-unit;

		&:hover {
			text-decoration: none;
		}

		.icon-chevron-down {
			font-size: 2em;
		}

		&:hover {
			background-color: $grey0;
			color: $orange;
		}
	}

	.page {
		background-color: $grey1;
		min-height: 100%;

		.container, md-content {
			background-color: $grey1;
		}

		tn-header {

		}

		.panel {
			border: none;
		}

		.filter-container {
			border: 1px solid $grey2;
			border-bottom: none;
			padding: $spacing-unit;
			background-color: $background-base-color;

			.dropdown-menu {
				height: 10em;
				overflow: auto
			}
		}

		.not-found {
			.alert {
				margin: 0;
				border: none;
				border-radius: 0;
			}
		}
	}

	@media (max-width: $layout-breakpoint-sm) {
		.page {
			.container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.page-tron {
		overflow: hidden;
		padding: 0;
		margin-left:  0;
		margin-right: 0;
		margin-bottom: 0;
		font-size: 1em;
		border: 1px solid $grey2;
		border-bottom: none;
		background-color: $background-base-color;

		.summary {
			padding: $spacing-unit*3;
		}

		.cover {
			position: relative;
			max-height: none;
			min-height: 200px;
			padding-right: 0;

			.map {
				padding: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				.tn {
					position: static;
				}
			}
		}

		@media (min-width: $screen-sm-min) {
			.cover {
				height: auto;
				min-height: 200px;
			}
		}

		@media (min-width: $screen-md-min) {
			.cover {
				height: 300px;
				max-height: 300px;
			}
		}

		@media (min-width: $screen-lg-min) {
			.cover {
				height: 400px;
				max-height: 400px;
			}
		}

	}

	.page-tabs {
		@include flexbox();
		justify-content: center;
		align-items: center;
		background-color: $white;
		@include page-tron-bottom;

		@media (max-width: $screen-xs-max) {
			.container-fluid {
				width: 100%;
			}

			ul {
				text-align: center;
				width: 100%;
				margin: 0;
			}
		}
	}

	.page-list {

		.media {
			object {
				width: 134px;
			}
		}

		ul {
			list-style-type: none;
			li {
				border-bottom: 1px solid $grey2;

				&:last-child {
					border: none;
				}
			}
		}

		.heading {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin-bottom: $spacing-unit*2;

			a {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&>* {
				display: inline-block;
				vertical-align: middle;
			}

			// [class^="icon-"], [class*=" icon-"] {
			// 	margin-right: $spacing-unit*2;
			// }
		}

		.details {
			padding-left: $spacing-unit*3;
			float: right;
			text-align: center;
		}

		.stats {
			@media (min-width: $screen-md-min) {
				&.two-column-layout {
					@include stats-extra-compact;
				}
			}
		}
	}

	.page-table {

	}

	.page-content {
		border: 1px solid $grey2;
		background-color: $background-base-color;
		margin-bottom: 2em;

		ul {
			//border: 1px solid $grey2;
			margin:0;
		}

		table {
			margin: 0;

			tr {
				.page-table-action-btn {
					opacity: 0;
					transition: $swift-ease-out;
				}
				&:hover {
					.page-table-action-btn {
						opacity: 1;
					}
				}
			}
		}

		td {
			vertical-align: middle;
		}
	}
}
