.person {

	.page-tron {
		.summary {
			// text-align: center;
			font-size: 2em;

			.icon-person {
				padding: $spacing-unit*2;

				&.large {
					font-size: 2em;
				}
			}
		}

		.accounts {
			padding: $spacing-unit*3;
		}
	}

	.visit-rank-subheading {
		font-size: 0.75em;
		font-weight: normal;
	}
}

.account-link {
	img {
		height: 1.5em;
	}
}