/* prevent text from appearing underneath the icon */
input[tn-reset-field] {
  padding-right: 19px;
  display: inline;
}

/* hide the built-in IE10+ clear field icon */
input[tn-reset-field]::-ms-clear {
  display: none;
}
/* hide cancel icon for search type */
input[tn-reset-field]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* icon styles */
input[tn-reset-field] + .icon-cancel {
  position: absolute;
  right: 10px;
  color: #C0C0C0;
  cursor: default;
  top: 50%;
  //half the height of the icon;
  margin-top: -7px;
  height: 100%;
  line-height: 100%;
}

/* animations for ngAnimate */
input[tn-reset-field] + .icon-cancel.ng-hide-add {
  display:inline!important;
  -webkit-animation: 0.3s fadeOut;
  -moz-animation: 0.3s fadeOut;
  -ms-animation: 0.3s fadeOut;
  animation: 0.3s fadeOut;
}
input[tn-reset-field] + .icon-cancel.ng-hide-remove {
  -webkit-animation: 0.5s fadeIn;
  -moz-animation: 0.5s fadeIn;
  -ms-animation: 0.5s fadeIn;
  animation: 0.5s fadeIn;
}