$route-filter-panel-margin: $baseline-grid;
$route-filter-select: $secondary-color;
$route-filter-unselected: $foreground-secondary-color;
$route-filter-unselected-hover: $foreground-secondary-color;

.tn {

	.route-filter {
		color: $route-filter-unselected;
		posistion: relative;

		.animate-filter {
			opacity: 1;
			visibility: visible;
			&.ng-hide-add {

				&.ng-hide-add-active {
					transition: all 0s;
				}
			}

			&.ng-hide-remove {
				&.ng-hide-remove-active {
					transition: $swift-ease-out;
					//transition: all 2s linear;
				}
			}

			&.ng-hide {
				opacity: 1;
				visibility: hidden;
			}
		}

		//align icon within flex-box
		.icon-filter-list.icon-button {
			text-align: right;
		}

		.filter-field {
			h1 {
				@include caption();
				margin-bottom: 0.25em;
			}
			margin-bottom: $text-body1-size;
		}

		.filter-btn-group {
			position: absolute;
			top: 0;
			left: $search-map-width;
		}

		.title {
			margin-bottom: 0;
			color: $foreground-secondary-color;
		}

		@media (max-width: $screen-phone) {
			.filter-btn-group {
				top: 0;
				left: $search-map-width-phone-unfocused;
			}
		}

		.btn-default {

			&:hover {
				background-color: $highlight-light;
			}

			&:focus {
				background-color: transparent;
				&:hover {
					background-color: $highlight-light;
				}
			}

			&.active {
				background-color: $route-filter-select;

				&:hover {
					background-color: $route-filter-select;
				}

				&:focus {
					background-color: $route-filter-select;
				}
			}

			&.elevationActive {
				border: 1px solid $orange;
			}
		}

		tags-input {
			.host {
				width: 100%;
			}

			.tags .tag-item {
				white-space: normal;
			}
		}
	}

	.route-filter-summary {
		color: $foreground-secondary-color;

		&:hover {
			color: $foreground-primary-color;
		}

		span {
			line-height: $baseline-grid*2;
		}

		.ellipsis {
			max-width: 120px;
			display: inline-block;
			vertical-align:middle;
		}

		.seperator {
			margin-left: $baseline-grid;
		}

		.blocks {
			&>* {
				display: inline-block;
			}
		}

		.activity {
			padding: 0;
			display: inline;
			border: none;
		}

		&.expanded {

			li {
				margin-bottom: 0;
			}
		}
	}
}