$tn-card-height: $tn-route-card-container-height - $baseline-grid*2 - $scrollbar-size;
$tn-card-container-height-sm: 106px;
$tn-card-container-padding: 3px;
$tn-card-height-sm: $tn-card-container-height-sm - $tn-card-container-padding;

.tn {
	tn-route-cards {
		display: block;
		padding: $tn-card-container-padding;
		padding-top: 0;
		height: $tn-card-container-height-sm;
	}

	@media (min-width: $layout-breakpoint-sm) {
		tn-route-cards {
			height: $tn-route-card-container-height;
		}
	}

	.route-cards {
		height: $tn-card-container-height-sm;

		&>div {
			height: 100%;
		}

		// .spinner-container {
		// 	position: absolute;
		// 	top:0;
		// 	left:0;
		// 	width:100%;
		// 	height: $tn-card-height !important;

		// 	.spinner {
		// 		line-height: $tn-route-card-height;
		// 		font-size: $tn-route-card-height/2;
		// 	}
		// }

		.card {
			position: relative;
			flex-grow: 0;
			flex-shrink: 0;
			//height: $tn-card-height;
			width: $tn-cardtray-card-width;
			padding: 0;
			border: 1px solid $foreground-quarternary-color;
			margin: $baseline-grid/2;

			&.legend {
				border: none;
			}
		}

		.route-card {
			cursor: pointer;
			display: block;
			transition: all 0.2s ease-in-out;
			padding: $baseline-grid;
			margin-top: $tn-trailhead-card-height;

			&:link, &:visited, &:active, &:hover {
				color: $foreground-primary-color;
				text-decoration: none;
			}
		}

		.legend {
			width: $card-legend-width;
			overflow: hidden;
			margin: $baseline-grid;
			margin-right: 0;
			height: 50%;

			.trailhead-card {
				font-size: $baseline-grid*4;
				cursor: auto;
				border: none;
			}

			.legend-route {
				//height: $tn-card-height-sm;
			}
		}



		&.next-page, .next-page {
			border:none;
			width: auto;

			.trailhead-card {
				border: inherit;
			}

			.route-card {
				cursor: pointer;
				display: flex;
			}

			span {
				font-size: $tn-card-height/2;
				//height: 100%;
			}

		}

		.focused {
			@include cardtray-hover();
		}
	}

	@media (min-width: $layout-breakpoint-sm) {
		.route-cards {
			height: $tn-route-card-container-height;

			.route-card {
				height: $tn-route-card-height;
			}

			.legend {
				.legend-route {
					height: $tn-route-card-height;
				}
			}
		}
	}


	.empty-message {
		height: 100%;
		margin:auto;
		width:70%;
		text-align: center;
		white-space: normal;
		//Prevent vertical center of children from being 0.5 pixel off.
		transform-style: preserve-3d;
		p {
			@include body2();
		}
	}

	.scroll-horizontal {
		height: 100%;
	}

	.trailhead-card {
		display: block;
		position: absolute;
		top:0;
		left:0;
		right:0;
		cursor: pointer;
		height: $tn-trailhead-card-height;
		border-bottom: 1px solid $foreground-quarternary-color;
		padding-left: $baseline-grid;
		padding-right: $baseline-grid;

		.icon-trailhead-large {
			vertical-align: top;
		}

		p {
			display: block;
			overflow: hidden;
		}
	}
}