$search-z-index: 100;
$search-height: 32px;
$search-button-width: $search-height *2;

.tn {

    tn-map-search {
        position: relative;
        display:block;
        //padding: 15px 0px 0px 30px;
        z-index: 10;
        width: auto;
    }

    tn-route-search {
        .dropdown-menu {
            position: relative;
            @include border-radius();
            width: 100%;
            top: 0 !important;
            left: 0 !important;
        }
    }

    //The Mobile Site Size.
    .search {

        md-input-container {
            padding-bottom: 0;
            height: $icon-size-normal*2;

            .reset-field {
                position: absolute;
                right: 0;
                color: $background-secondary-color;
            }
        }

        tn-location-search {
            input {
                color: $primary-text-color;
                border-color: background-quarternary-color;
                &::-webkit-input-placeholder {
                    color: $background-secondary-color
                }
            }
        }

        .typeahead {
            top: 0 !important;

            md-item {
                @include pointer();
                display: block;

                .subhead {
                    margin: 0;
                }

                &.active {
                    background-color: $primary-color;
                    .subhead {
                        color: $primary-text-color;
                    }
                    a {
                        color: $background-secondary-color;
                        &:hover {
                            color: $primary-text-color;
                        }
                    }
                }

                .md-tile-content {
                    padding: $baseline-grid;
                }
            }

            .md-tile-left {
                text-align: center;
            }
        }
    }

    md-toolbar.md-default-theme {
        tn-route-search {
            color: $foreground-primary-color;
        }
    }

    @media (min-width: $layout-breakpoint-sm) {
        .search {
            position: relative;
            //width: $search-map-width + $search-button-width;
            height: auto;

            tn-location-search {
                input {
                    color: $foreground-primary-color;
                    &::-webkit-input-placeholder {
                        color: $foreground-tertiary-color;
                    }
                }
            }

            &.leaflet {
                border-radius: $border-radius-base 0 0 $border-radius-base;
                overflow: visible;
            }

            md-input-container {
                width: 100%;
                height: auto;

                .reset-field {
                    color: $foreground-secondary-color;
                }
            }

            input {
                padding: $spacing-unit 2*$spacing-unit;
                height: $search-height;
                border: none;
                width: 100%;
                background-color: transparent;

                &.icon {
                    padding:5px;
                    padding-left: 25px;
                }
                &.icon::-webkit-input-placeholder {
                    font-family: 'trailnetwork';
                    left: -20px;
                    position: relative;
                }

                &::-webkit-input-placeholder {
                    color: $foreground-tertiary-color
                }
            }

            .search-button {
                width: $search-button-width;
                height: $search-height;
                border-radius: 0 $border-radius-base $border-radius-base 0;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
    }

}