@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 400;
	src: local('RobotoDraft'), local('RobotoDraft-Regular'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 500;
	src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwXJuJo8UJJfpGKt7pXjBv4s.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff) format('woff');
}
@font-face {
	font-family: 'RobotoDraft';
	font-style: normal;
	font-weight: 700;
	src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-Vwf79_ZuUxCigM2DespTnFaw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
	font-family: 'RobotoDraft';
	font-style: italic;
	font-weight: 400;
	src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/robotodraft/v1/er-TIW55l9KWsTS1x9bTfgeOulFbQKHxPa89BaxZzA0.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/er-TIW55l9KWsTS1x9bTfoo3ZslTYfJv0R05CazkwN8.woff) format('woff');
}

/**
* Styles global to the tn app.
*/

@include anchor();

html, body {
	height: 100%;
	font-size: $font-size;
	font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
}

/**
* Inline Typography
*/

.display1 {
	@include display1();
}

.headline {
	@include headline()
}

.title {
	@include title();
}

.subhead {
	@include subhead();
}

.body2 {
	@inlclude body2();
}

p, .body1 {
	@include body1();
}

.caption {
	@include caption();
}

.button {
	@include button();
}



h1 {
	font-size: 1.5em;
	margin: 0.25em 0;
}

h2 {
	font-size: 1.25em;
	margin: 0.25em 0;
}

h3 {
	font-size: 1.125em;
	margin: 0.25em 0;
}

// @media (max-width: $layout-breakpoint-sm) {
// 	input {
// 		&:active {
// 			position: static;
// 			top: 0;
// 			left: 0;
// 			right: 0;
// 			bottom: 0;
// 		}
// 	}
// }

ul {
	padding: 0;
	margin: 0;

	li {
		// margin-left: $spacing-unit*4;
	}
}

button {

	&:hover {
		text-decoration: none;
	}

	&.btn-link {
		color: $primary-color;
		&:hover {
			color: $primary-dark-color;
			text-decoration: none;
		}
	}
}

hr {
	margin-top: $baseline-grid;
	margin-bottom: $baseline-grid;
	border-color: $foreground-quarternary-color;
}

*[tn-dropdown-menu-content] {
	display: none;

	&.active {
		display: block;
	}
}

.tn {

	tn-breadcrumbs {
		display: block;
	}

	.animate-ng-show {
		overflow: hidden;
		margin-top: 0;
		&.ng-hide-add {
			&.ng-hide-add-active {
				transition: $swift-ease-in;
			}
		}

		&.ng-hide-remove {
			&.ng-hide-remove-active {
				transition: $swift-ease-out;
			}
		}

		&.ng-hide {
			margin-top: -100%;
		}
	}

	.animate-slide-left {
		position: absolute;
		overflow: hidden;
		right: 0;
		&.ng-hide-add {
			&.ng-hide-add-active {
				transition: $swift-ease-in;
			}
		}

		&.ng-hide-remove {
			&.ng-hide-remove-active {
				transition: $swift-ease-out;
			}
		}

		&.ng-hide {
			right: -100%;
			position: relative;
		}
	}

	.breadcrumbs {
		white-space: nowrap;
		overflow: hidden;

		a:first-child {
			flex-shrink: 0;
		}

		&>a {
			margin-bottom: 0;
			margin-right: $baseline-grid;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		[class^="icon-"], [class*=" icon-"] {
			margin-right: $baseline-grid/2;
		}
	}

	.center {
		text-align: center;
	}

	.center-vertically {
		@include center-vertically();
	}

	.clear_button {
		color: $highlight-dark;
		text-decoration: none;
		top: 0;
		bottom: 0;
		line-height: 100%;
		height: 100%;
	}

	.clickable {
		cursor: pointer;
	}

	.contract-trigger:before {
		width: 200%;
		height: 200%;
	}

	.ellipsis {
		@include ellipsis(1000px);
	}

	.full-height {
		height: 100%;
	}

	.horiz-list {
		&>* {
			margin-right: $baseline-grid;
			display: inline-block;
		}

		&:last-child {
			margin-right: 0;
		}

		&.comma-seperated {
			margin-right: 0;
			&>*:after {
				content: ",";
			}

			&>*:last-child {
				&:after {
					content: "";
				}
			}
		}

	}

	.md-toolbar-tools {
		padding-right: $baseline-grid/2;
		.title {
			margin-bottom: 0;
		}

		a {
			&:hover {
				color: $primary-text-color;
			}
		}
	}

	@media (max-width: $layout-breakpoint-sm) {
		.mobile-page {
			background-color: $background-primary-color;
			position: fixed;
			top: $app-bar-height;
			left: 0;
			right: 0;
			bottom: 0;
			padding: $baseline-grid;
			@include anchor();
			.md-button {
				color: $foreground-primary-color;
			}
		}
	}

	.modal {
		width: 100%;
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: auto;
		//min-width: 95%;
		max-width: 900px;
		bottom: 0;
		left: -95%;
		background: #fff;
		z-index: 99999;
		-webkit-transition: 600ms ease-in-out;
		-moz-transition: 600ms ease-in-out;
		transition: 600ms ease-in-out;
		pointer-events: none;

		&.open {
			left: 0;
			pointer-events: auto;
		}

		&.modal-lg {
			&>div {
				min-height: 100%;
			}
		}

	}

	@media (max-width: $screen-xs-min) {
		.modal {
			max-width: 100%;
			min-width: 100%;
		}
	}

	.navbar {
		border-radius: 0;
	}

	.nowrap {
		white-space: nowrap;
	}

	.reset-field {
		margin-top:auto;
		margin-bottom:auto;
		margin-right: $baseline-grid;
		@include center-vertically();
		color: $foreground-secondary-color;
	}

	/* Custom Scroll bars for different browsers
	 * http://codemug.com/html/custom-scrollbars-using-css/
	 */
	 .scroll-vertical {
	 	overflow-y: auto;
	 	overflow-x: hidden;
	 }

	/* Custom Scroll bars for different browsers
	 * http://codemug.com/html/custom-scrollbars-using-css/
	 */
	 .scroll-horizontal {
	 	overflow-x: auto;
	 	overflow-y: hidden;
	 	white-space:nowrap;
	 }

	 .scroll-horizontal-alwayson {
	 	overflow-x: scroll;
	 	overflow-y: hidden;
	 	white-space:nowrap;
	 }

	 // .spinner-container {
	 // 	width: 100%;
	 // 	position: relative;
	 // 	display:block;
	 // 	line-height: $spacing-unit*3;
	 // 	font-size: $spacing-unit*3/2;

	 // 	.spinner {
	 // 		height: $spinner-height;
	 // 	}

	 // 	&.spinner-display {
	 // 		height: $spinner-height;
	 // 	}
	 // }

	 .stats {
	 	white-space: nowrap;
	 	max-width: 300px;
	 	//width: 18em;

	 	&>* {
	 		vertical-align: middle;
	 		display: inline-block;
	 		text-align: center;

	 		p{
	 			@include headline();
	 			margin-top: 0;
	 			margin-bottom: $baseline-grid;
	 		}
	 	}

	 	&.compact {
	 		&>* {

	 			h1 {
	 				color: $text-color-shaded;
	 			}

	 			p {
	 				font-size: 1em;
	 			}
	 		}
	 	}

	 	&.extra-compact {
	 		@include stats-extra-compact;
	 	}

	 	@media (max-width: $screen-xs-max) {
	 		&.compact {
	 			@include stats-extra-compact;
	 		}
	 	}

	 }

	 .table th.sortable {
	 	padding: 0;
	 	cursor: pointer;

	 	div {
	 		padding: $spacing-unit;
	 	}

	 	.direction-symbol {
	 		min-width: 1em;
	 		display: inline-block;
	 	}
	 }

	 .toggle-group {
	 	ul {
	 		margin: 0;
	 		padding: 0;

	 		li {
	 			list-style: none;
	 			display: inline-block;
	 			margin: 0;
	 		}
	 	}

	 	.toggle {
	 		@include border-radius;
	 		box-sizing: border-box;
	 		display: inline-block;
	 		border: 2px solid transparent;
	 		border-bottom: $toggle-border solid transparent;
	 		background-color: transparent;
	 		padding: $baseline-grid;
	 		//min-height: $baseline-grid*6;

	 		&:hover {
	 			z-index: 2;
	 			border-bottom: $toggle-border solid $toggle-hover-color;
	 			//color: $toggle-hover-color;
	 		}

	 		.active, &.active {
	 			background-color: $toggle-active-color;
	 			border: 2px solid $toggle-border-color;

	 			&.hover {
	 				//color: $text-color;
	 			}
	 		}
	 	}
	 }

	 ::-webkit-scrollbar {
	 	width: $scrollbar-size;
	 	height: $scrollbar-size;
	 }

	 ::-webkit-scrollbar-track:hover {
	 	/*border: 1px solid $grey1;*/
	 }

	 ::-webkit-scrollbar-thumb {
	 	background-color: $foreground-tertiary-color;
	 }

	 ::-webkit-scrollbar-thumb:hover {
	 	background-color: $foreground-primary-color;
	 }
	 } //end .tn


	 .resize-triggers {
	 	visibility: hidden;
	 }

	 .resize-triggers, .resize-triggers > div, .contract-trigger:before {
	 	content: " ";
	 	display: block;
	 	position: absolute;
	 	top: 0;
	 	left: 0;
	 	height: 100%;
	 	width: 100%;
	 	overflow: hidden;
	 }

	 .resize-triggers > div {
	 	background: #eee;
	 	overflow: auto;
	 }