$trailhead-cardtray-banner-left-margin: 0;

.tn {
    tn-trailhead-cardtray-banner {
        position: absolute;
        top:0;
        left:$trailhead-cardtray-banner-left-margin;
        right: 0;
        display: block;
        width: 100%;
        height: $tn-trailhead-card-banner-height;
        background-color: $white;
        z-index: 10;

        .card {
            width: 100%;

            .trailhead-card {
                margin-left: 0;
                margin-right: $card-margin + $card-margin;
                margin-top: 0;
                padding: 0;
                cursor: default;
                position: static;
                height: 100%;

                &>p {
                    text-align: center;
                    line-height: $tn-trailhead-card-banner-height;
                    margin-bottom: 0;
                    margin-right: $baseline-grid*4;
                    margin-left: $baseline-grid*4;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .banner-close {
                    position: absolute;
                    top: $card-margin*2;
                    left: $card-margin*2;
                }
            }
        }

    }
}