$user-explore-button-margin-mobile: $baseline-grid;
$user-explore-button-margin: $baseline-grid*2;
$signin-dropdown-menu-padding: $baseline-grid*2;
$signin-button-fab-height: 56px;

@mixin signin-button-list-border {
	border-top: 1px solid rgba(0,0,0,0.12);
}

.explore-signin {
	display: block;
	margin-right: $user-explore-button-margin-mobile;

	.md-fab {
		opacity: 0.87;
	}
}

@media (min-width: $layout-breakpoint-sm) {
	.explore-signin {
		margin-right: $user-explore-button-margin;
	}
}


.signin-button {
	margin-right: $user-explore-button-margin;

	&.fab {
		button {
			padding: 0;
		}
	}
	img {
		height: $signin-button-fab-height;
		width: $signin-button-fab-height;
	}
}


.signin-dropdown-menu {
	text-align: left;

	.profile-avatar {
		font-size: 6em;
	}

	.profile-picture {
		margin-right: $user-explore-button-margin;
		min-width: 100px;
	}

	.name {
		white-space: nowrap;
		margin-bottom: $baseline-grid*2;
	}

	.view-profile-btn {
		margin-bottom: $baseline-grid;
	}
}

.user-unauthenticated-settings {
	margin-right: $baseline-grid*2;
}