/**
 * Variables global to the tn app.
 */

//Bootstrap Overrides
$icon-font-path: "../vendor/sass-bootstrap/3.0.2/fonts/";
$border-radius-base:             2px;
$border-radius-large:            4px !default;
$border-radius-small:            3px !default;
$font-size: 13px;

//Global
$scrollbar-size: $baseline-grid;
$spacing-unit: 5px;
$spinner-height: 100%;

//System Color
$primary-color: map-get($primary-color-palette, '500');
$primary-dark-color: map-get($primary-color-palette, '700');
$primary-light-color: map-get($primary-color-palette, '100');
$primary-text-color: white;

$secondary-color-palette: $color-orange;
$secondary-color: map-get($secondary-color-palette, 'A200');
$secondary-dark-color: map-get($secondary-color-palette, 'A400');
$secondary-light-color: map-get($secondary-color-palette, 'A100');

$foreground-base-color: map-get($foreground-color-palette, '1000') !default;
//Default text on white background
$foreground-primary-color: rgba($foreground-base-color, 0.87);
//Secondary text, active icons
$foreground-secondary-color: rgba($foreground-base-color, 0.54);
//disabled/hint text/placeholders, inactive icons
$foreground-tertiary-color: rgba($foreground-base-color, 0.26);
//dividers
$foreground-quarternary-color: rgba($foreground-base-color, 0.12);
$foreground-text-shadow: none !default;

$background-base-color: white;
//text/icons
$background-primary-color: rgba($background-base-color, 1);
//secondary text
$background-secondary-color: rgba($background-base-color, 0.70);
//disabled/ hint text
$background-tertiary-color: rgba($background-base-color, 0.30);
//dividers
$background-quarternary-color: rgba($background-base-color, 0.12);

$text-color: $foreground-primary-color;
$text-body1-size: 1rem;
$text-body1-leading: 1.538461538rem;
$text-body2-size: 1rem;
$text-body2-leading: 1.846153846rem;
$text-subhead-size: 1.153846154rem;
$text-subhead-leading: 1.846153846rem;
$text-title-size: 1.538461538rem;
$text-title-leading: 2.153846154rem;
$text-headline-size: 1.846153846rem;
$text-headline-leading: 2.461538462rem;
$text-display1-size: 2.615384615rem;
$text-display2-leading: 3.076923077rem;

$debug-color-palette: $color-pink;
$debug-color: map-get($debug-color-palette, '500');
$debug-dark-color: map-get($debug-color-palette, '700');
$debug-light-color: map-get($debug-color-palette, '100');
$debug-text-color: white;

$trailnetwork-green-color: #669900;

//cards
$card-radius: $border-radius-base;

//icons
$icon-button-size: 48px;
$icon-size-normal: 24px;
$icon-size-large: $icon-size-normal*2;
$icon-size-medium: $icon-size-normal*0.75;
$icon-size-small: $icon-size-normal*0.5;

//toggle-group
$toggle-border: 2px;
$toggle-active-color: $primary-light-color;
$toggle-hover-color: $primary-color;
$toggle-border-color: $primary-dark-color;

//
//DEPRICATED
//

//Depricated colors
$grey0: hsl(0,0,97%);
$grey1: hsl(0,0,90%);
$grey2: hsl(0,0,70%);
$grey3: hsl(0,0,30%);
$white: #fff;
$black: #000;
$orange: $secondary-color;//#ffbb33;
$highlight-light: $grey1;
$highlight-medium: $grey2;
$highlight-dark: $grey3;
$text-color-shaded: hsl(0,0%,45%);

//Icons
$icon-large-height: 2em;
$icon-large-width: 2em;

//Search
$search-map-width: 350px;
$search-map-width-phone-unfocused: 150px;
