<div class="page-list">
    <div class="" ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <ng-include src="'/views/route/route-thumbnail.html'"></ng-include>
                    </a>
                    <div class="media-body">
                        <h2 class="heading">
                            <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                            <ng-include src="'/views/route/completion-display-route-name-with-link.html'"></ng-include>
                        </h2>
                        <div class="details stats compact" ng-class="compact && 'two-column-layout'">
                            <div>
                                <h1 translate="ROUTE_COMPLETION_COMPLETED_LABEL"></h1>
                                <p translate="LABEL_TIMES_COUNT" translate-values="{COUNT: completion.personalTotal.display.formattedValue}" translate-interpolation="messageformat"></p>
                            </div>

                            <div>
                                <h1 translate="ROUTE_COMPLETION_LAST_COMPLETED_LABEL"></h1>
                                <p>{{completion.startTime.display.mediumDate}}</p>
                            </div>

                            <div>
                                <h1 translate="ROUTE_COMPLETION_SOCIAL_COUNT_RANK_LABEL"></h1>
                                <p>{{completion.socialCountRank.display.formattedValue}}</p>
                            </div>

                            <div>
                                <h1 translate="ROUTE_COMPLETION_SOCIAL_ORDER_LABEL"></h1>
                                <p>{{completion.socialOrder.display.formattedValue}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="position:relative">
        <tn-spinner spinner-key="person-most-popular-routes-spinner" ng-show="completionsWebApiService.busy"></tn-spinner>
    </div>
</div>