<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <span translate="PERSON_COMPLETIONS_DESCRIPTION"></span>
                </h3>
            </div>
            <div>
                <tn-person-completions completions-web-api-service="completionsWebApiService" template-url="/views/person/person-completions-card.html" person-id="person.personId" limit="5" person="person.person">
                </tn-person-completions>

                <tn-list-more url="tn.appRouteService.person.completionsUrl(person.personId)"></tn-list-more>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <span translate="PERSON_LEADERBOARD_PODIUM_DESCRIPTION"></span>
                </h3>
            </div>
            <div>
                <tn-person-leaderboard template-url="/views/person/person-leaderboard-card.html" person-id="person.personId" limit="3" race-rank-limit="1,2,3" person="person.person" compact="true"
                completions-web-api-service="leaderboardWebApiService">
                </tn-person-leaderboard>

                <tn-list-more url="tn.appRouteService.person.leaderboardUrl(person.personId)"></tn-list-more>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <span translate="PERSON_ACTIVITIES_DESCRIPTION"></span>
                </h3>
            </div>
            <div>
                <tn-person-activities person-id="person.personId" activities-web-api-service="activitiesWebApiService" template-url="/views/person/person-activities-card.html" limit="5">
                </tn-person-activities>

                <tn-list-more url="tn.appRouteService.person.activitiesUrl(person.personId)"></tn-list-more>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <span translate="PERSON_POPULAR_ROUTES_DESCRIPTION" translate-values="{personName: person.person.name}"></span>
                </h3>
            </div>
            <div>
                <tn-person-popular-routes completions-web-api-service="popularRoutesWebApiService" template-url="/views/person/person-popular-routes-card.html" person-id="person.personId" limit="5" compact="true">
                </tn-person-popular-routes>

                <tn-list-more url="tn.appRouteService.person.popularRoutesUrl(person.personId)"></tn-list-more>
            </div>
        </div>
    </div>
</div>