<!-- <div class="page-list">
    <table class="table table-striped table-hover" ng-show="completionsWebApiService.entities.length > 0">
        <thead>
            <tr>

                <th></th>

                <th>{{'ROUTE_NAME_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_DISTANCE_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_DURATION_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_SOCIAL_RACE_RANK_LABEL' | translate}}</th>
        </thead>
        <tbody>
-->
<!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
<!--
           <tr ng-repeat="completion in completionsWebApiService.entities">
                <td align="center">
                    <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                </td>
                <td>
                    <ng-include src="'/views/route/completion-display-route-name-with-link.html'"></ng-include>
                </td>
                <td align="center">{{completion.route.distance.display.formattedValue}}</td>
                <td align="center">{{completion.duration.display.compact}}</td>
                <td align="center">{{completion.socialRaceRank.display.formattedValue}}</td>
            </tr>
        </tbody>
    </table>
-->

<!-- <tn-spinner spinner-key="person-leaderboard-card-spinner" ng-show="completionsWebApiService.busy"></tn-spinner>
    </div> -->

<div class="page-list">
    <div ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <object class="media-object" type="image/svg+xml" data="{{apiConstants.url.routeImage(completion.route.id)}}" title="{{completion.route.name.$}}"></object>
                    </a>
                    <div class="media-body">
                        <h2 class="heading">
                            <span class="icon-route orange"></span>
                            <ng-include src="'/views/route/completion-display-route-name-with-link.html'"></ng-include>
                        </h2>
                        <div class="details stats compact" ng-class="compact && 'two-column-layout'">
                            <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                            <div>
                                <h1 translate="ROUTE_DISTANCE_LABEL"></h1>
                                <p>{{completion.route.distance.display.formattedValue}}</p>
                            </div>
                            <div>
                                <h1 translate="ROUTE_COMPLETION_DURATION_LABEL"></h1>
                                <p>{{completion.duration.display.compact}}</p>
                            </div>
                            <div>
                                <h1 translate="ROUTE_COMPLETION_SOCIAL_RACE_RANK_LABEL"></h1>
                                <p>{{completion.socialRaceRank.display.formattedValue}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="position:relative">
        <tn-spinner spinner-key="completionsSpinner" ng-show="completionsWebApiService.busy"></tn-spinner>
    </div>
</div>