<div class="panel-default filter-container">
    <h3 align="center" translate="PERSON_POPULAR_ROUTES_DESCRIPTION" translate-values="{personName: person.person.name}"></h3>
</div>

<div tn-continuous-scroll="content.service"  class="page-content">

    <tn-person-popular-routes completions-web-api-service="content.service" template-url="/views/person/person-popular-routes-card.html" person-id="person.personId">
    </tn-person-popular-routes>

</div>