<div class="page-table">
    <table class="table table-striped table-hover" ng-show="activitiesWebApiService.entities.length > 0">
        <thead>
            <tr>
                <th></th>


                <th style="text-align:center">{{'ACTIVITY_START_TIME_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ACTIVITY_DISTANCE_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ACTIVITY_DURATION_LABEL' | translate}}</th>

                <th>{{'ACTIVITY_NAME_LABEL' | translate}}</th>

                <th style="text-align:center">{{'APPLICATION_LABEL' | translate}}</th>

        </thead>
        <tbody>
            <!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
            <tr ng-repeat="activity in activitiesWebApiService.entities">
                <td align="center">
                    <tn-activity-type activity-type="activity.activityType" icon-styles="'orange'"></tn-activity-type>
                </td>
                <td align="center">{{activity.track.start.timestamp.display.shortDate}}</td>

                <td align="center">{{activity.track.distance.display.formatted}}</td>

                <td align="center">{{activity.track.elapsedTime.display.compact}}</td>
                <td>
                    <a ng-href="{{appRouteService.activity.activityUrl(activity.id)}}">{{activity.name.$}}</a>
                </td>
                <td align="center">
                    <tn-application-link url="activity.applicationReference.url" application-key="activity.applicationKey.value" icon-only="true" class="medium"></tn-application-links>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="position:relative">
        <tn-spinner spinner-key="activitiesSpinner" ng-show="activitiesWebApiService.busy"></tn-spinner>
    </div>
</div>