<div class="panel-default filter-container">
    <h3 align="center" translate="PERSON_ACTIVITIES_DESCRIPTION"></h3>
</div>

<div tn-continuous-scroll="content.service"  class="page-content">

    <tn-person-activities person-id="person.personId" activities-web-api-service="content.service" template-url="/views/person/person-activities-table.html">
    </tn-person-activities>

</div>