<div class="page">
    <tn-header></tn-header>

    <div class="container person" ng-show="person.person">
        <div class="row page-tron">
            <div class="col-xs-12 col-md-6 summary">
                <h1>
                    <span class="icon-person large"></span>{{person.person.name}}</h1>
                <!-- <p>{{person.name}}</p> -->
            </div>
            <div class="col-xs-12 col-md-6 accounts">
                <p ng-repeat="account in person.person.accounts">
                    <span ng-if="aliases(account)">
                        <tn-application-link class="medium" url="account.applicationReference.url" application-key="applicationKey(account)" icon-only="false"></tn-application-link> (<span ng-bind="aliases(account)"></span>)
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default page-tabs" role="navigation">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active">
                                <a ui-sref="person.all({personId: person.person.id})">
                                    <span translate="LABEL_ALL"></span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="person.activities({personId: person.person.id})">
                                    <span translate="LABEL_ACTIVITIES"></span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="person.popularRoutes({personId: person.person.id})">
                                    <span translate="LABEL_POPULAR"></span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="person.leaderboard({personId: person.person.id})">
                                    <span translate="LABEL_LEADERBOARD"></span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="person.completions({personId: person.person.id})">
                                    <span translate="LABEL_ROUTES"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <ui-view></ui-view>
    </div>
</div>
