<div class="panel-default filter-container" ng-show="person">
    <h3 align="center" translate="PERSON_LEADERBOARD_DESCRIPTION" translate-values="{personName: person.person.name}"></h3>
</div>

<div tn-continuous-scroll="content.service" class="page-content">

    <tn-person-leaderboard completions-web-api-service="content.service" template-url="/views/person/person-leaderboard-card.html" person-id="person.personId">
    </tn-person-leaderboard>

</div>
