<tags-input name="tags" ng-model="selection" placeholder="{{'FILTER_PERSON' | translate}}" min-tags="1" max-tags="10" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" on-tag-added="onSelect($tag)" on-tag-removed="onRemove($tag)" min-length="3"
display-property="name">
    <auto-complete source="onType($query)" ></auto-complete>
</tags-input>