<div class="completions">
    <div class="visits-list" ng-show="completionsWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="completion in completionsWebApiService.entities" class="panel-body">
                <div class="person">
                    <div>
                        <span class="icon-route icon-secondary-color"></span>
                    </div>
                    <div>
                        <a ng-href="{{appRouteService.route.completionsUrl(completion.route.id, context)}}">
                            {{completion.route && completion.route.name.$}}</a>
                        {{completion.startTime.display.shortDate}}
                    </div>
                </div>
                <div class="activity-type">
                    <tn-activity-type activity-type="completion.activityType" icon-styles="'icon-button icon-secondary-color'"></tn-activity-type>
                    <div class="vertical-line"></div>
                </div>
                <div class="visit">
                    <div>
                        <a ng-href="{{appRouteService.activity.activityUrl(completion.activityId[0].value)}}">
                            <span translate="ROUTE_COMPLETIONS_LIST_COMPLETIONS" translate-values="{personalOrder: completion.personalOrder.value, personalTotal: completion.personalTotal.value}"></span>
                        </a>
                        <br/>
                        <span ng-if="completion.repeatCount">
                            <span translate="ROUTE_COMPLETIONS_LIST_REPEATS" translate-values="{REPEAT_COUNT: completion.repeatCount.display.formattedValue}" translate-interpolation="messageformat"></span>
                        </span>
                    </div>
                    <div>
                        <span ng-repeat="(key, url) in uniqueApplicationList(completion)">
                            <tn-application-link url="url" application-key="key" icon-only="true" class="medium"></tn-application-links>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="position:relative">
        <tn-spinner spinner-key="completionsSpinner" ng-show="completionsWebApiService.busy"></tn-spinner>
    </div>
</div>