<div class="page-list person-list">
    <div class="" ng-show="activitiesWebApiService.entities.length > 0">
        <ul>
            <li ng-repeat="activity in activitiesWebApiService.entities" class="panel-body">
                <h2 class="heading">
                    <a ui-sref="activity({activityId: activity.id})">{{activity.name.$}}</a>
                </h2>
                <div class="details stats compact">
                    <tn-application-link url="activity.applicationReference.url" application-key="activity.applicationKey.value" icon-only="true" class="medium"></tn-application-link>
                    <tn-activity-type activity-type="activity.activityType" icon-styles="'orange'"></tn-activity-type>
                    <div>
                        <h1 translate="ACTIVITY_START_TIME_LABEL"></h1>
                        <p>{{activity.track.start.timestamp.display.shortDate}}</p>
                    </div>
                    <div>
                        <h1 translate="ACTIVITY_DISTANCE_LABEL"></h1>
                        <p>{{activity.track.distance.display.formatted}}</p>
                    </div>
                    <div>
                        <h1 translate="ACTIVITY_DURATION_LABEL"></h1>
                        <p>{{activity.track.elapsedTime.display.compact}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="position:relative">
        <tn-spinner spinner-key="activitiesSpinner" ng-show="activitiesWebApiService.busy"></tn-spinner>
    </div>
</div>