<div class="panel-default filter-container">
    <h3 align="center" translate="PERSON_COMPLETIONS_DESCRIPTION" translate-values="{personName: person.person.name}"></h3>
</div>

<div class="panel-default">
    <div class="completions-filter">
        <button ng-if="tn.debug" class="btn" ng-class="filter.showAll && 'btn-warning' ||'btn-default'" ng-click="filter.showAll = !filter.showAll">Show all</button>
    </div>
</div>

<div tn-continuous-scroll="content.service" class="page-content">

    <tn-person-completions completions-web-api-service="content.service" template-url="/views/person/person-completions-table.html" person-id="person.personId">
    </tn-person-completions>

</div>

<div ng-controller="tnRouteFilterController"></div>