<div class="page-table">
    <table class="table table-striped table-hover" ng-show="completionsWebApiService.entities.length > 0">
        <thead>
            <tr>

                <th style="text-align:center"></th>

                <th>{{'ROUTE_NAME_LABEL' | translate}}</th>

                <th style="text-align:center">{{'ROUTE_COMPLETION_START_DATE_LABEL' | translate}}</th>

                <th style="text-align:center"><span translate="ROUTE_COMPLETION_PERSONAL_TOTAL"></span></th>

                <th style="text-align:center"><span translate="ROUTE_TOTAL_COMPLETIONS_LABEL"></span></th>

                <th style="text-align:center">{{ 'ROUTE_COMPLETION_SOCIAL_RACE_RANK_LABEL' | translate}}</th>
        </thead>
        <tbody>
            <!-- note that 'success' class is from twitter bootstrap and is used for its green color -->
            <tr ng-repeat="completion in completionsWebApiService.entities" ng-click="context.goToActivity(completion.activityId[0].value)">
                <td align="center">
                    <tn-activity-type activity-type="completion.activityType" icon-styles="'orange'"></tn-activity-type>
                </td>
                <td>
                    <a ui-sref="route.all({routeId: completion.route.id})">
                    {{completion.route.name.$}}
                </a>
                </td>

                <td align="center">{{completion.startTime.display.shortDate}}</td>

                <td align="center">{{completion.personalTotal.display.formattedValue}}</td>

                <td align="center">{{completion.route.completionStats.total}}</td>

                <td align="center">{{completion.socialRaceRank.display.formattedValue}}</td>
            </tr>
        </tbody>
    </table>

    <tn-spinner spinner-key="completionsSpinner" ng-show="completionsWebApiService.busy"></tn-spinner>
</div>