<div class="breadcrumbs" layout="row">
        <a ng-href="{{crumb.href}}" title="{{crumb.name}}" ng-repeat="crumb in crumbs">
        	<span ng-class="crumb.icon"></span><span>{{crumb.name}}</span>
		</a>
</div>
