<div flex></div>
<div class="leaflet search">
	<tn-location-search map="explore.map.service" class="md-whiteframe-z2">
	</tn-location-search>
</div>

<div class="leaflet" hide-sm>
	<div class="leaflet-content">
		<tn-route-filter></tn-route-filter>
	</div>
</div>


<div class="leaflet" hide-sm>
	<tn-route-search route-filter="routeFilterService" indexes="['route']"></tn-route-search>
</div>

<div class="icon-filter-list icon-button" ng-click="showFilter = !showFilter" hide-gt-sm></div>
<div ng-show="showFilter" class="leaflet mobile-page scroll-vertical" hide-gt-sm>
	<tn-route-search route-filter="routeFilterService" indexes="['route']"></tn-route-search>
	<tn-route-filter expanded="true"></tn-route-filter>
	<div layout="row" layout-align="center center">
		<md-button ng-click="showFilter = false">Close</md-button>
	</div>
</div>
