<tn-trailhead-cardtray-banner on-close="exploreRoute.cardTray.banner.onClose()" text="exploreRoute.cardTray.banner.text"></tn-trailhead-cardtray-banner>

<tn-route-cards routes="getRoutes()" has-next-page="false" show-legend="false" busy="exploreRoute.service.alternateService.busy" has-next-page="!exploreRoute.service.alternateService.finalPage" message-key="exploreRoute.cardTray.messageKey">
	<p ng-message="empty" translate="TH_NO_ROUTES_FOUND"></p>
</tn-route-cards>

