<div class="entity-detail" ng-show="trailhead">
	<div class="leaflet" hide-sm>
		<tn-breadcrumbs class="leaflet-content"></tn-breadcrumbs>
	</div>

	<div class="leaflet entity-toolbar" layout="row" layout-align="start center" hide-gt-sm>
		<div class="icon-arrow-back" ng-click="back()"></div>
		<span class="icon-trailhead-large"></span>
		<div class="ellipsis">
			<span class="title" title="{{trailhead.name.$}}" ng-bind="trailhead.name.$"></span>
		</div>
		<div flex></div>
		<div class="icon-filter-list icon-button" ng-click="toggleFilter()"></div>
		<div class="icon-view-list icon-button" ng-click="toggleDetails()"></div>
	</div>

	<div class="detail leaflet mobile-page scroll-vertical" ng-show="detailsVisible">
		<div class="leaflet-content">
			<div class="entity-title entity-title-header" layout="row">
				<!--
            <span class="icon-chevron-left grey2 hover-effects" ng-click="back()"></span>
          -->
				<span class="icon-trailhead-large"></span>
				<div class="ellipsis">
					<span class="title" title="{{trailhead.name.$}}" ng-bind="trailhead.name.$"></span>
				</div>
				<tn-activity-types activity-type-stats="trailhead.routeCompletionStats.activityTypeStats" class="pull-right"></tn-activity-types>
			</div>

			<div style="overflow:hidden">
				<div class="animate-ng-show" ng-show="!routeFilter.expanded">
					<tn-trailhead-detail trailhead="trailhead"></tn-trailhead-detail>
				</div>
			</div>
		</div>
	</div>
	<div class="detail leaflet">
		<div class="leaflet-content">
			<tn-route-filter ng-show="filterVisible" expanded="true" hide-gt-sm class="mobile-page scroll-vertical"></tn-route-filter>
			<tn-route-filter hide-sm expanded="routeFilter.expanded"></tn-route-filter>
		</div>
	</div>
</div>
