<div class="tn">
    <div class="explore" layout="column">
        <md-toolbar class="md-default-theme leaflet-container">
            <div ui-view="leaflets" class="md-toolbar-tools"></div>
        </md-toolbar>

        <tn-map map="explore.map.service" class="explore-map" visible="explore.map.visible" flex>

            <tn-trailheads trailheads="getProminentTrailheads()" options="trailhead.optionsProminent" selected-options="trailhead.selectedOptionsProminent" on-click="trailhead.onClick(th)"></tn-trailheads>

            <tn-trailheads trailheads="getPrevalentTrailheads()" options="trailhead.optionsPrevalent" selected-options="trailhead.selectedOptionsPrevalent" on-click="trailhead.onClick(th)"></tn-trailheads>

            <!-- <tn-geo-cells></tn-geo-cells> -->

            <tn-routes routes="getRoutes()" selectable="route.selectable" selected-options="route.selectedOptions" highlight="route.highlight" highlight-options="route.highlightOptions"></tn-routes>

            <tn-boxes ng-if="explore.boxes.visible"></tn-boxes>

            <tn-markers locations="getLocations()"></tn-markers>
            <tn-markers locations="getInvisibleLocations()" default-options="locations.invisibleDefaultOptions"></tn-markers>
            <tn-map-control class="explore-signin" location="TOP_RIGHT">
                <div ng-controller="tnCurrentUserController">
                    <tn-signin-button user="currentUser" preferences="preferences"></tn-signin-button>
                </div>
            </tn-map-control>
            <tn-map-control location="TOP_RIGHT">
                <tn-map-layer-control></tn-map-layer-control>
            </tn-map-control>
        </tn-map>

        <tn-map-card-tray visible="explore.cardTray.visible" minimized="explore.cardTray.minimized" class="explore-cardtray">
            <div ui-view="cardTray"></div>
        </tn-map-card-tray>

        <!-- This is here instead of around the route-filter-directive so that it is always available and initialized before
            sub-controllers are initialized. -->
        <div ng-controller="tnRouteFilterController"></div>
        <tn-compact-footer></tn-compact-footer>
    </div>
    <!-- <div class="explore-signin" ng-controller="tnCurrentUserController">
        <tn-signin-button user="currentUser" preferences="preferences"></tn-signin-button>
    </div> -->
</div>
