<tn-trailhead-cardtray-banner ng-show="banner.visible" on-close="banner.onClose()" text="banner.text"></tn-trailhead-cardtray-banner>

<tn-route-cards routes="getRoutes()" has-next-page="!exploreTrailheads.routesWebApiService.finalPage" next-page="nextPage()" show-legend="false" busy="exploreTrailheads.routesWebApiService.busy" ng-show="!cardTray.showNoRoutesMessage && !cardTray.showTrailheadNotFoundMessage"></tn-route-cards>

<div ng-show="cardTray.showNoRoutesMessage" class="route-cards">
    <div class="empty-message">
        <div class="center-vertically">
            <p translate="TH_NO_ROUTES_FOUND"></p>
        </div>
    </div>
</div>

<div ng-show="cardTray.showTrailheadNotFoundMessage" class="route-cards">
    <div class="empty-message">
        <div class="center-vertically">
            <p translate="TH_NOT_FOUND"></p>
        </div>
    </div>
</div>
