<tn-map-card-tray visible="cardTray.visible" minimized="cardTray.minimized">
    <tn-trailhead-cardtray-banner ng-show="banner.visible" on-close="banner.onClose()" text="banner.text"></tn-trailhead-cardtray-banner>

    <tn-route-cards routes="getRoutes()" has-next-page="false" show-legend="false"></tn-route-cards>
</tn-map-card-tray>

<div class="leaflet-container entity-detail" ng-controller="tnLeafletController" ng-show="leafletContainerVisible">
    <div class="panel panel-default breadcrumbs leaflet" ng-show="mainRoute">
        <tn-breadcrumbs route="breadcrumbRoute" trailhead="mainRoute.start"></tn-breadcrumbs>
    </div>
    <div class="panel panel-default detail leaflet">
        <tn-route-detail route="mainRoute" alternates-view="true"></tn-route-detail>
    </div>
    <tn-route-filter></tn-route-filter>
</div>