<tn-route-cards routes="service.routes.cardTray" has-next-page="!routesWebApiService.finalPage" next-page="nextPage()" show-legend="true" busy="routesWebApiService.busy" ng-show="cardTray.showCards"></tn-route-cards>

<div ng-show="cardTray.showNoRoutesMessage" class="route-cards">
    <div class="empty-message">
        <div class="center-vertically">
            <p translate="ROUTES_NOT_FOUND"></p>
        </div>
    </div>
</div>

<div ng-show="cardTray.showErrorMessage" class="route-cards">
    <div class="empty-message">
        <div class="center-vertically">
            <p translate="TN_NETWORKING_ERROR"></p>
        </div>
    </div>
</div>

<div ng-show="cardTray.showOutOfBoundsMessage" class="route-cards">
    <div class="empty-message" layout="column">
        <p><b>There are no trailheads in view, pan to a location with trailheads or change the filter.</b>
        </p>

        <p>We are still building out our map. Please view
            <a ui-sref="explore.routes">
                <span ng-click="goToDefaultLocation()">Marin County California</span>
            </a>for a good example.
        </p>
    </div>
</div>
