<div ng-show="exploreRoute.route" class="entity-detail" ng-show="exploreRoute.route">
    <div class="leaflet" layout="row" hide-sm>
        <tn-breadcrumbs route="exploreRoute.breadcrumbRoute" trailhead="exploreRoute.route.startTrailhead" class="leaflet-content"></tn-breadcrumbs>
    </div>

    <div class="leaflet entity-toolbar" layout="row" layout-align="start center" hide-gt-sm>
        <div class="icon-arrow-back" ng-click="back()"></div>
        <tn-route-title route="exploreRoute.route" show-route-link="false" show-trailhead="false" show-activity-types="false"></tn-route-title>
        <div flex></div>
        <div class="icon-filter-list icon-button" ng-click="toggleFilter()"></div>
        <div class="icon-view-list icon-button" ng-click="toggleDetails()"></div>
    </div>


    <div class="detail leaflet mobile-page scroll-vertical" ng-show="detailsVisible">
        <div class="leaflet-content">
            <tn-route-title route="exploreRoute.route" show-trailhead="true" show-activity-types="true"></tn-route-title>

            <div style="overflow:hidden">
                <div class="animate-ng-show" ng-show="!exploreRoute.routeFilter.expanded">
                    <div class="minimize-controls clickable" ng-click="toggleMinimizeDetails()">
                        <div class="icon-arrow-drop-down" ng-if="exploreRoute.routeDetail.minimized"></div>
                        <div class="icon-arrow-drop-up" ng-if="!exploreRoute.routeDetail.minimized"></div>
                    </div>
                    <hr/>
                    <tn-route-detail route="exploreRoute.route" ng-show="!exploreRoute.routeDetail.minimized"></tn-route-detail>

                    <div class="chart" ng-controller="tnExploreRouteChartController" ng-show="!exploreRoute.routeDetail.minimized">
                        <tn-spinner spinner-key="chartSpinner"></tn-spinner>
                        <div ng-show="chart.loaded">
                            <div class="clearfix">
                                <p class="entity-value pull-left">
                                    <span ng-bind="chart.elevationLabel + ': '" ng-show="chart.elevation.length > 0"></span>
                                    <span ng-class="chart.entityValueClass(chart.elevation)" ng-bind="chart.elevation"></span>
                                </p>
                                <p class="entity-value pull-right">
                                    <span ng-if="chart.tare">&#916;</span>
                                    <span class="icon-arrow-down"></span>
                                    <span ng-class="chart.entityValueClass(chart.elevationLoss)" ng-bind="chart.elevationLoss"></span>
                                </p>
                                <p class="entity-value pull-right">
                                    <span ng-if="chart.tare">&#916;</span>
                                    <span class="icon-arrow-up"></span>
                                    <span ng-class="chart.entityValueClass(chart.elevationGain)" ng-bind="chart.elevationGain"></span>
                                </p>
                            </div>
                            <div>
                                <tn-area-chart data="chart.dataTable" selection="chart.selection"></tn-area-chart>
                            </div>
                            <div>
                                <p class="entity-value">
                                    <span ng-if="chart.tare">&#916;</span>
                                    <span ng-bind="chart.distanceLabel + ': '"></span>
                                    <span ng-class="chart.entityValueClass(chart.distance)" ng-bind="chart.distance"></span>
                                </p>
                                <p class="chart-controls pull-right" ng-show="isRouteAnimated" ng-click="stopAnimateRoute()">
                                    <span translate="ROUTE_CHART_STOP"></span>
                                    <span class="icon-stop"></span>
                                </p>
                                <p class="chart-controls pull-right" ng-show="!isRouteAnimated" ng-click="animateRoute()">
                                    <span translate="ROUTE_CHART_REPLAY"></span>
                                    <span class="icon-play"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail leaflet">
        <div class="leaflet-content">
            <tn-route-filter ng-show="filterVisible" expanded="true" hide-gt-sm class="mobile-page scroll-vertical"></tn-route-filter>
            <tn-route-filter hide-sm expanded="exploreRoute.routeFilter.expanded"></tn-route-filter>
        </div>
    </div>
</div>
