<div ng-if="user" tn-dropdown-menu>
	<div class="signin-button fab" tn-dropdown-menu-control>
		<md-button class="md-fab md-primary" aria-label="Signin">
			<span class="icon-person" ng-if="!account.photoUrl"></span>
			<img src="{{account.photoUrl}}" ng-if="account.photoUrl">
			</span>
		</md-button>
	</div>

	<!--  <button class="btn btn--m btn--black btn--flat" lx-ripple lx-dropdown-toggle>
        Dropdown toggle
    </button> -->

	<div class="signin-dropdown-menu map-control-dropdown-menu" tn-dropdown-menu-content>
		<md-content layout="row">
			<div class="icon-person profile-avatar" ng-if="!account.photoUrl"></div>
			<div class="profile-picture" style="background-image: url({{account.photoUrl}});background-size: contain;" ng-if="account.photoUrl"></div>
			<div layout="column">
				<p class="title name" ng-bind="user.name"></p>
				<div>
					<a ng-href="{{profileUrl}}">
						<md-button class="md-primary md-raised view-profile-btn">View Profile</md-button>
					</a>
				</div>
				<div>
					<a target="_blank" ng-click="$event.stopPropagation()" href="/users/signin.html?mode=manageAccount">
						<span translate="SIGNIN_MANAGE_ACCOUNT_LABEL"></span>
					</a>
				</div>
			</div>
		</md-content>
		<md-list>
			<ng-include src="'/views/user/unit-of-measure-list-item-preference.html'"></ng-include>
		</md-list>
		<div class="md-actions" layout="row">
			<div flex></div>
			<md-button ng-click="signout()">Signout</md-button>
		</div>
	</div>
</div>

<div ng-if="!user" class="signin-button" layout="row">
	<div class="user-unauthenticated-settings" tn-dropdown-menu dont-close-on-click>
		<div class="icon-settings" tn-dropdown-menu-control ng-class="mapCtrl.mapTypeId() === 'hybrid' && 'white'"></div>
		<div class="map-control-dropdown-menu" tn-dropdown-menu-content>
			<md-list>
				<ng-include src="'/views/user/unit-of-measure-list-item-preference.html'"></ng-include>
			</md-list>
		</div>
	</div>
	<a ng-href="/{{tnApiConstants.paths.signin}}">
		<md-button class="md-primary md-raised" target="_self" ng-click="$event.stopPropagation()">Sign in</md-button>
	</a>
</div>
