<md-item>
	<md-item-content layout="row">
		<div class="md-tile-content" layout="row">
			<div flex ng-bind="selectedUnitsOfMeasureName || 'Unit of Measure'" class="item-title"></div>
			<md-switch ng-model="preferences.unitsOfMeasure" ng-true-value="'{{preferenceConstants.unitsOfMeasure.us.key}}'" ng-false-value="'{{preferenceConstants.unitsOfMeasure.metric.key}}'" aria-label="Units of Measurement"></md-switch>
		</div>
	</md-item-content>

</md-item>
